In [414]:
#!pip install sodapy
import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cdc.gov", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cdc.gov,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("8pt5-q6wp", limit=5000)

# Convert to pandas DataFrame
df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [415]:
df

,indicator,group,state,subgroup,phase,time_period,time_period_label,time_period_start_date,time_period_end_date,value,lowci,highci,confidence_interval,quartile_range
0,Symptoms of Depressive Disorder,National Estimate,United States,United States,1,1,Apr 23 - May 5,2020-04-23T00:00:00.000,2020-05-05T00:00:00.000,23.5,22.7,24.3,22.7 - 24.3,NaN
1,Symptoms of Depressive Disorder,By Age,United States,18 - 29 years,1,1,Apr 23 - May 5,2020-04-23T00:00:00.000,2020-05-05T00:00:00.000,32.7,30.2,35.2,30.2 - 35.2,NaN
2,Symptoms of Depressive Disorder,By Age,United States,30 - 39 years,1,1,Apr 23 - May 5,2020-04-23T00:00:00.000,2020-05-05T00:00:00.000,25.7,24.1,27.3,24.1 - 27.3,NaN
3,Symptoms of Depressive Disorder,By Age,United States,40 - 49 years,1,1,Apr 23 - May 5,2020-04-23T00:00:00.000,2020-05-05T00:00:00.000,24.8,23.3,26.2,23.3 - 26.2,NaN
4,Symptoms of Depressive Disorder,By Age,United States,50 - 59 years,1,1,Apr 23 - May 5,2020-04-23T00:00:00.000,2020-05-05T00:00:00.000,23.2,21.5,25,21.5 - 25.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4939,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Virginia,Virginia,3 (Jan 6 � Feb 1),23,Jan 20 - Feb 1,2021-01-20T00:00:00.000,2021-02-01T00:00:00.000,36.9,33.9,40,33.9 - 40.0,28.8-37.6
4940,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Washington,Washington,3 (Jan 6 � Feb 1),23,Jan 20 - Feb 1,2021-01-20T00:00:00.000,2021-02-01T00:00:00.000,46.3,42.5,50.1,42.5 - 50.1,43.3-47.5
4941,Symptoms of Anxiety Disorder or Depressive Dis...,By State,West Virginia,West Virginia,3 (Jan 6 � Feb 1),23,Jan 20 - Feb 1,2021-01-20T00:00:00.000,2021-02-01T00:00:00.000,41.8,34.8,49,34.8 - 49.0,40.9-43.2
4942,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Wisconsin,Wisconsin,3 (Jan 6 � Feb 1),23,Jan 20 - Feb 1,2021-01-20T00:00:00.000,2021-02-01T00:00:00.000,36.4,31.9,41,31.9 - 41.0,28.8-37.6
4943,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Wyoming,Wyoming,3 (Jan 6 � Feb 1),23,Jan 20 - Feb 1,2021-01-20T00:00:00.000,2021-02-01T00:00:00.000,40.2,33.3,47.4,33.3 - 47.4,37.7-40.8

In [416]:
age = df[df['group']=='By Age']
ny = df[df['state']=='New York']
ny1 = df[df['state']=='New York']
ny2 = df[df['state']=='New York']
ny3 = df[df['state']=='New York']
ny4 = df[df['state']=='New York']
ny5 = df[df['state']=='New York']
ny6 = df[df['state']=='New York']
ny.reset_index(drop=True, inplace=True)
ny1.reset_index(drop=True, inplace=True)
ny2.reset_index(drop=True, inplace=True)
ny3.reset_index(drop=True, inplace=True)
ny4.reset_index(drop=True, inplace=True)
ny5.reset_index(drop=True, inplace=True)
ny6.reset_index(drop=True, inplace=True)

#combined = pd.concat([age,ny])
ageRange = ['18 - 29 years', '30 - 39 years', '40 - 49 years', '50 - 59 years', '60 - 69 years', '70 - 79 years', '80 years and above']
ny['age'] = ageRange[0]
ny1['age'] = ageRange[1]
ny2['age'] = ageRange[2]
ny3['age'] = ageRange[3]
ny4['age'] = ageRange[4]
ny5['age'] = ageRange[5]
ny6['age'] = ageRange[6]


ny6

<ipython-input-416-44c8492e5e6d>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ny['age'] = ageRange[0]
<ipython-input-416-44c8492e5e6d>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ny1['age'] = ageRange[1]
<ipython-input-416-44c8492e5e6d>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ny2['age'] = ageRange[2]
<ipython-input-416-44c8492e5e6d>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ny3['age'] = ageRange[3]
<ipython-input-416-44c8492e5e6d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ny4['age'] = ageRange[4]
<ipython-input-416-44c8492e5e6d>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ny5['age'] = ageRange[5]
<ipython-input-416-44c8492e5e6d>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ny6['age'] = ageRange[6]

,indicator,group,state,subgroup,phase,time_period,time_period_label,time_period_start_date,time_period_end_date,value,lowci,highci,confidence_interval,quartile_range,age
0,Symptoms of Depressive Disorder,By State,New York,New York,1,1,Apr 23 - May 5,2020-04-23T00:00:00.000,2020-05-05T00:00:00.000,28.7,24.6,33.1,24.6 - 33.1,24.1 - 28.7,80 years and above
1,Symptoms of Anxiety Disorder,By State,New York,New York,1,1,Apr 23 - May 5,2020-04-23T00:00:00.000,2020-05-05T00:00:00.000,36.1,32.1,40.2,32.1 - 40.2,31.7 - 37.0,80 years and above
2,Symptoms of Anxiety Disorder or Depressive Dis...,By State,New York,New York,1,1,Apr 23 - May 5,2020-04-23T00:00:00.000,2020-05-05T00:00:00.000,41.4,36.7,46.1,36.7 - 46.1,36.8 - 41.4,80 years and above
3,Symptoms of Depressive Disorder,By State,New York,New York,1,2,May 7 - May 12,2020-05-07T00:00:00.000,2020-05-12T00:00:00.000,29.2,24.2,34.6,24.2 - 34.6,25.7 - 35.5,80 years and above
4,Symptoms of Anxiety Disorder,By State,New York,New York,1,2,May 7 - May 12,2020-05-07T00:00:00.000,2020-05-12T00:00:00.000,33,27.7,38.5,27.7 - 38.5,31.6 - 38.3,80 years and above
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,Symptoms of Anxiety Disorder,By State,New York,New York,3 (Jan 6 � Feb 1),22,Jan 6 - Jan 18,2021-01-06T00:00:00.000,2021-01-18T00:00:00.000,33.8,30.2,37.6,30.2 - 37.6,33.8-34.8,80 years and above
65,Symptoms of Anxiety Disorder or Depressive Dis...,By State,New York,New York,3 (Jan 6 � Feb 1),22,Jan 6 - Jan 18,2021-01-06T00:00:00.000,2021-01-18T00:00:00.000,40.2,35.9,44.7,35.9 - 44.7,38.5-40.4,80 years and above
66,Symptoms of Depressive Disorder,By State,New York,New York,3 (Jan 6 � Feb 1),23,Jan 20 - Feb 1,2021-01-20T00:00:00.000,2021-02-01T00:00:00.000,25.1,21.5,29,21.5 - 29.0,15.3-25.1,80 years and above
67,Symptoms of Anxiety Disorder,By State,New York,New York,3 (Jan 6 � Feb 1),23,Jan 20 - Feb 1,2021-01-20T00:00:00.000,2021-02-01T00:00:00.000,32.3,28.7,36,28.7 - 36.0,23.8-32.3,80 years and above
68,Symptoms of Anxiety Disorder or Depressive Dis...,By State,New York,New York,3 (Jan 6 � Feb 1),23,Jan 20 - Feb 1,2021-01-20T00:00:00.000,2021-02-01T00:00:00.000,35.8,32,39.7,32.0 - 39.7,28.8-37.6,80 years and above

In [417]:
new_york = pd.concat([ ny, ny1, ny2, ny3, ny4, ny5, ny6])
new_york.to_csv('NY_MENTAL_HEALTH_ONLY.csv', index=False)

In [418]:
new_york

,indicator,group,state,subgroup,phase,time_period,time_period_label,time_period_start_date,time_period_end_date,value,lowci,highci,confidence_interval,quartile_range,age
0,Symptoms of Depressive Disorder,By State,New York,New York,1,1,Apr 23 - May 5,2020-04-23T00:00:00.000,2020-05-05T00:00:00.000,28.7,24.6,33.1,24.6 - 33.1,24.1 - 28.7,18 - 29 years
1,Symptoms of Anxiety Disorder,By State,New York,New York,1,1,Apr 23 - May 5,2020-04-23T00:00:00.000,2020-05-05T00:00:00.000,36.1,32.1,40.2,32.1 - 40.2,31.7 - 37.0,18 - 29 years
2,Symptoms of Anxiety Disorder or Depressive Dis...,By State,New York,New York,1,1,Apr 23 - May 5,2020-04-23T00:00:00.000,2020-05-05T00:00:00.000,41.4,36.7,46.1,36.7 - 46.1,36.8 - 41.4,18 - 29 years
3,Symptoms of Depressive Disorder,By State,New York,New York,1,2,May 7 - May 12,2020-05-07T00:00:00.000,2020-05-12T00:00:00.000,29.2,24.2,34.6,24.2 - 34.6,25.7 - 35.5,18 - 29 years
4,Symptoms of Anxiety Disorder,By State,New York,New York,1,2,May 7 - May 12,2020-05-07T00:00:00.000,2020-05-12T00:00:00.000,33,27.7,38.5,27.7 - 38.5,31.6 - 38.3,18 - 29 years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,Symptoms of Anxiety Disorder,By State,New York,New York,3 (Jan 6 � Feb 1),22,Jan 6 - Jan 18,2021-01-06T00:00:00.000,2021-01-18T00:00:00.000,33.8,30.2,37.6,30.2 - 37.6,33.8-34.8,80 years and above
65,Symptoms of Anxiety Disorder or Depressive Dis...,By State,New York,New York,3 (Jan 6 � Feb 1),22,Jan 6 - Jan 18,2021-01-06T00:00:00.000,2021-01-18T00:00:00.000,40.2,35.9,44.7,35.9 - 44.7,38.5-40.4,80 years and above
66,Symptoms of Depressive Disorder,By State,New York,New York,3 (Jan 6 � Feb 1),23,Jan 20 - Feb 1,2021-01-20T00:00:00.000,2021-02-01T00:00:00.000,25.1,21.5,29,21.5 - 29.0,15.3-25.1,80 years and above
67,Symptoms of Anxiety Disorder,By State,New York,New York,3 (Jan 6 � Feb 1),23,Jan 20 - Feb 1,2021-01-20T00:00:00.000,2021-02-01T00:00:00.000,32.3,28.7,36,28.7 - 36.0,23.8-32.3,80 years and above
68,Symptoms of Anxiety Disorder or Depressive Dis...,By State,New York,New York,3 (Jan 6 � Feb 1),23,Jan 20 - Feb 1,2021-01-20T00:00:00.000,2021-02-01T00:00:00.000,35.8,32,39.7,32.0 - 39.7,28.8-37.6,80 years and above

In [420]:
new_york["time_period"] = new_york['time_period'].astype(float)

In [421]:
april23 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/93c29d8395f89d5d0eff39e1a9dcba69c820b33f/by-age.csv?raw=True",index_col=0)
april23['date'] = '04-23-2020'
april23['period'] = 1
april23 = april23.rename(columns={'COVID_CASE_RATE': 'CASE_RATE', 'HOSPITALIZED_CASE_RATE': 'HOSPITALIZED_RATE', 'DEATH_RATE':'DEATH_RATE'})

In [422]:
april24 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/8f4cd591c65b11c23bc3ebae25f523df5da6ceb6/by-age.csv?raw=True",index_col=0)
april24['date'] = '04-24-2020'
april24['period'] = 1
april24 = april24.rename(columns={'COVID_CASE_RATE': 'CASE_RATE', 'HOSPITALIZED_CASE_RATE': 'HOSPITALIZED_RATE', 'DEATH_RATE':'DEATH_RATE'})

In [423]:
april25 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/4bc53684bcae8ecaede11197d5f01c2d4c5f956a/by-age.csv?raw=True",index_col=0)
april25['date'] = '04-25-2020'
april25['period'] = 1
april25 = april25.rename(columns={'COVID_CASE_RATE': 'CASE_RATE', 'HOSPITALIZED_CASE_RATE': 'HOSPITALIZED_RATE', 'DEATH_RATE':'DEATH_RATE'})

In [424]:
april26 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/da609d813e5a53dd8402ad018bc2a2d1ea7e3170/by-age.csv?raw=True",index_col=0)
april26['date'] = '04-26-2020'
april26['period'] = 1
april26 = april26.rename(columns={'COVID_CASE_RATE': 'CASE_RATE', 'HOSPITALIZED_CASE_RATE': 'HOSPITALIZED_RATE', 'DEATH_RATE':'DEATH_RATE'})

In [425]:
april27 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/3ec3fa97d44c5b3054477c9c0998fa6d466bca72/by-age.csv?raw=True",index_col=0)
april27['date'] = '04-27-2020'
april27['period'] = 1
april27 = april27.rename(columns={'COVID_CASE_RATE': 'CASE_RATE', 'HOSPITALIZED_CASE_RATE': 'HOSPITALIZED_RATE', 'DEATH_RATE':'DEATH_RATE'})

In [426]:
april28 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/81fcf12be08aadd730d1d39c153e3fd9ab371e77/by-age.csv?raw=True",index_col=0)
april28['date'] = '04-28-2020'
april28['period'] = 1
april28 = april28.rename(columns={'COVID_CASE_RATE': 'CASE_RATE', 'HOSPITALIZED_CASE_RATE': 'HOSPITALIZED_RATE', 'DEATH_RATE':'DEATH_RATE'})

In [427]:
april29 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/c68db06972c3100297a615ba397245eff8b3ee9f/by-age.csv?raw=True",index_col=0)
april29['date'] = '04-29-2020'
april29['period'] = 1
april29 = april29.rename(columns={'COVID_CASE_RATE': 'CASE_RATE', 'HOSPITALIZED_CASE_RATE': 'HOSPITALIZED_RATE', 'DEATH_RATE':'DEATH_RATE'})

In [428]:
april30 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/cdc5866a09ad9fa3d2c8e449dcf1803775b0a6df/by-age.csv?raw=True",index_col=0)
april30['date'] = '04-30-2020'
april30['period'] = 1
april30 = april30.rename(columns={'COVID_CASE_RATE': 'CASE_RATE', 'HOSPITALIZED_CASE_RATE': 'HOSPITALIZED_RATE', 'DEATH_RATE':'DEATH_RATE'})

In [429]:
may01 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/9e26adc2c475d3378d7579e48e936f8a807b254b/by-age.csv?raw=True",index_col=0)
may01['date'] = '05-01-2020'
may01['period'] = 1
may01 = may01.rename(columns={'COVID_CASE_RATE': 'CASE_RATE', 'HOSPITALIZED_CASE_RATE': 'HOSPITALIZED_RATE', 'DEATH_RATE':'DEATH_RATE'})

In [430]:
may02 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/946537b1647b4bc7c621716ef6f8e336de09068b/by-age.csv?raw=True",index_col=0)
may02['date'] = '05-02-2020'
may02['period'] = 1
may02 = may02.rename(columns={'COVID_CASE_RATE': 'CASE_RATE', 'HOSPITALIZED_CASE_RATE': 'HOSPITALIZED_RATE', 'DEATH_RATE':'DEATH_RATE'})

In [431]:
may03 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/26d8d4c6a64c75608eb9229a41cffbb72a03685d/by-age.csv?raw=True",index_col=0)
may03['date'] = '05-03-2020'
may03['period'] = 1
may03 = may03.rename(columns={'COVID_CASE_RATE': 'CASE_RATE', 'HOSPITALIZED_CASE_RATE': 'HOSPITALIZED_RATE', 'DEATH_RATE':'DEATH_RATE'})

In [432]:
may04 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/e9647e089c58884bb8ee5dd4972782c69327e3ee/by-age.csv?raw=True",index_col=0)
may04['date'] = '05-04-2020'
may04['period'] = 1
may04 = may04.rename(columns={'COVID_CASE_RATE': 'CASE_RATE', 'HOSPITALIZED_CASE_RATE': 'HOSPITALIZED_RATE', 'DEATH_RATE':'DEATH_RATE'})

In [433]:
may05 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/dbf813f886c2323ac1e161b9aac966e87278ae80/by-age.csv?raw=True",index_col=0)
may05['date'] = '05-05-2020'
may05['period'] = 1
may05 = may05.rename(columns={'COVID_CASE_RATE': 'CASE_RATE', 'HOSPITALIZED_CASE_RATE': 'HOSPITALIZED_RATE', 'DEATH_RATE':'DEATH_RATE'})

In [434]:
may06 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/d1df026ad726baf9554f3edd246b7495a8cd247f/by-age.csv?raw=True",index_col=0)
may06['date'] = '05-06-2020'
may06['period'] = 2
may06 = may06.rename(columns={'COVID_CASE_RATE': 'CASE_RATE', 'HOSPITALIZED_CASE_RATE': 'HOSPITALIZED_RATE', 'DEATH_RATE':'DEATH_RATE'})

In [435]:
may07 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/6d7c4a94d6472a9ffc061166d099a4e5d89cd3e3/by-age.csv?raw=True",index_col=0)
may07['date'] = '05-07-2020'
may07['period'] = 2
may07 = may07.rename(columns={'COVID_CASE_RATE': 'CASE_RATE', 'HOSPITALIZED_CASE_RATE': 'HOSPITALIZED_RATE', 'DEATH_RATE':'DEATH_RATE'})

In [436]:
may08 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/2dad8ad0c34db78a343a304ee5bcd56cf2a2194b/by-age.csv?raw=True",index_col=0)
may08['date'] = '05-08-2020'
may08['period'] = 2
may08 = may08.rename(columns={'COVID_CASE_RATE': 'CASE_RATE', 'HOSPITALIZED_CASE_RATE': 'HOSPITALIZED_RATE', 'DEATH_RATE':'DEATH_RATE'})

In [437]:
may09 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/16f92651e3cd6585df1165e74126258f59f6fb91/by-age.csv?raw=True",index_col=0)
may09['date'] = '05-09-2020'
may09['period'] = 2
may09 = may09.rename(columns={'COVID_CASE_RATE': 'CASE_RATE', 'HOSPITALIZED_CASE_RATE': 'HOSPITALIZED_RATE', 'DEATH_RATE':'DEATH_RATE'})

In [438]:
may10 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/257399da1e7e974e9366bf4c5d1d3bfbc6dc9093/by-age.csv?raw=True",index_col=0)
may10['date'] = '05-10-2020'
may10['period'] = 2
may10 = may10.rename(columns={'COVID_CASE_RATE': 'CASE_RATE', 'HOSPITALIZED_CASE_RATE': 'HOSPITALIZED_RATE', 'DEATH_RATE':'DEATH_RATE'})

In [439]:
may11 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/5ef81d9009d68a65ef56a27ed2b2b7506952181a/by-age.csv?raw=True",index_col=0)
may11['date'] = '05-11-2020'
may11['period'] = 2
may11 = may11.rename(columns={'COVID_CASE_RATE': 'CASE_RATE', 'HOSPITALIZED_CASE_RATE': 'HOSPITALIZED_RATE', 'DEATH_RATE':'DEATH_RATE'})

In [440]:
may12 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/6b501e5e4fbe09d49d454e00e18205dd6fec9bff/by-age.csv?raw=True",index_col=0)
may12['date'] = '05-12-2020'
may12['period'] = 2
may12 = may12.rename(columns={'COVID_CASE_RATE': 'CASE_RATE', 'HOSPITALIZED_CASE_RATE': 'HOSPITALIZED_RATE', 'DEATH_RATE':'DEATH_RATE'})

In [441]:
may13 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/82ea643906d764faae2da4f9fdd1cdd922d98c73/by-age.csv?raw=True",index_col=0)
may13['date'] = '05-13-2020'
may13['period'] = 3
may13 = may13.rename(columns={'COVID_CASE_RATE': 'CASE_RATE', 'HOSPITALIZED_CASE_RATE': 'HOSPITALIZED_RATE', 'DEATH_RATE':'DEATH_RATE'})

In [442]:
may14 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/ac5cfc575709dfe8a928a7637e4d5c4ccf33d43d/by-age.csv?raw=True",index_col=0)
may14['date'] = '05-14-2020'
may14['period'] = 3
may14 = may14.rename(columns={'COVID_CASE_RATE': 'CASE_RATE', 'HOSPITALIZED_CASE_RATE': 'HOSPITALIZED_RATE', 'DEATH_RATE':'DEATH_RATE'})

In [443]:
may15 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/ebe9ba75c55a2f1dcedbfc00396a6dc0873b71c4/by-age.csv?raw=True",index_col=0)
may15['date'] = '05-15-2020'
may15['period'] = 3
may15 = may15.rename(columns={'COVID_CASE_RATE': 'CASE_RATE', 'HOSPITALIZED_CASE_RATE': 'HOSPITALIZED_RATE', 'DEATH_RATE':'DEATH_RATE'})

In [444]:
may16 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/25021ca2c2f77589988e750a4024967fa887c85d/by-age.csv?raw=True",index_col=0)
may16['date'] = '05-16-2020'
may16['period'] = 3
may16 = may16.rename(columns={'COVID_CASE_RATE': 'CASE_RATE', 'HOSPITALIZED_CASE_RATE': 'HOSPITALIZED_RATE', 'DEATH_RATE':'DEATH_RATE'})

In [445]:
may17 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/d9d894ac238333fb90ff44f19ad6bc7ad227eda4/by-age.csv?raw=True",index_col=0)
may17['date'] = '05-17-2020'
may17['period'] = 3
may17 = may17.rename(columns={'COVID_CASE_RATE': 'CASE_RATE', 'HOSPITALIZED_CASE_RATE': 'HOSPITALIZED_RATE', 'DEATH_RATE':'DEATH_RATE'})

In [446]:
may18 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/50e60ee5c8f36198abc9b697761128dd29f10fc9/by-age.csv?raw=True",index_col=0)
may18['date'] = '05-18-2020'
may18['period'] = 3

In [447]:
may19 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/a68f42fe3615eaf3d36df219059eb94595cee933/by-age.csv?raw=True",index_col=0)
may19['date'] = '05-19-2020'
may19['period'] = 3

In [448]:
may20 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/0c4a03c9a39470b49a60eb1456c64fb0df9e08f8/by-age.csv?raw=True",index_col=0)
may20['date'] = '05-20-2020'
may20['period'] = 4

In [449]:
may21 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/d3a18736ecd9589ab4db24f8cdf76fd40b82c661/by-age.csv?raw=True",index_col=0)
may21['date'] = '05-21-2020'
may21['period'] = 4

In [450]:
may22 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/3cbb3b744ed90befb37ea7680fac3aa7f782bb30/by-age.csv?raw=True",index_col=0)
may22['date'] = '05-22-2020'
may22['period'] = 4

In [451]:
may23 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/8d88b2c06cf6b65676d58b28979731faa10c193c/by-age.csv?raw=True",index_col=0)
may23['date'] = '05-23-2020'
may23['period'] = 4

In [452]:
may24 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/9332798c68db780365109f156892efc3d9315485/by-age.csv?raw=True",index_col=0)
may24['date'] = '05-24-2020'
may24['period'] = 4

In [453]:
may25 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/f19c0bc29137b7a1c503c09ec0c2b2e08d27d439/by-age.csv?raw=True",index_col=0)
may25['date'] = '05-25-2020'
may25['period'] = 4

In [454]:
may26 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/d52fdfe48dc9b8fe446df048c681b9c19555e469/by-age.csv?raw=True",index_col=0)
may26['date'] = '05-26-2020'
may26['period'] = 4

In [455]:
may27 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/498a068d6ca1765231b8526a5529ec552a0daff7/by-age.csv?raw=True",index_col=0)
may27['date'] = '05-27-2020'
may27['period'] = 5

In [456]:
may28 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/65efb1f75b2714bf06fc2e76fba22315727f6943/by-age.csv?raw=True",index_col=0)
may28['date'] = '05-28-2020'
may28['period'] = 5

In [457]:
may29 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/8636c5557e93e0c5f35b8c2f8ae1ed1e1077d469/by-age.csv?raw=True",index_col=0)
may29['date'] = '05-29-2020'
may29['period'] = 5

In [458]:
may30 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/3e9a27ce96a59d9107295ade2b2d7255e605b47b/by-age.csv?raw=True",index_col=0)
may30['date'] = '05-30-2020'
may30['period'] = 5

In [459]:
may31 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/9b5cd4d9259587d41017804dda6589a7b2ab5b3c/by-age.csv?raw=True",index_col=0)
may31['date'] = '05-31-2020'
may31['period'] = 5

In [460]:
june01 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/62444c1cbfda69c28ed468d14be3f332ea35eea7/by-age.csv?raw=True",index_col=0)
june01['date'] = '06-01-2020'
june01['period'] = 5

In [461]:
june02 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/53f5d7935feb50fe87132c928f45455af4149407/by-age.csv?raw=True",index_col=0)
june02['date'] = '06-02-2020'
june02['period'] = 5

In [462]:
june03 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/eb3b8e99cb07bb04ff7b73c2d86e45ae68a4aab7/by-age.csv?raw=True",index_col=0)
june03['date'] = '06-03-2020'
june03['period'] = 6

In [463]:
june04 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/f094fb20c7843f218cea3bc47a06ebe8055d6127/by-age.csv?raw=True",index_col=0)
june04['date'] = '06-04-2020'
june04['period'] = 6

In [464]:
june05 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/582977c6b9e14f048305403e1b830145e0669a5e/by-age.csv?raw=True",index_col=0)
june05['date'] = '06-05-2020'
june05['period'] = 6

In [465]:
june06 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/9e0c1fe569b09ebddbccd6c9f6d519e28920e86a/by-age.csv?raw=True",index_col=0)
june06['date'] = '06-06-2020'
june06['period'] = 6

In [466]:
june07 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/6328e0b130a4dee1f6140ed3aa8264168d2a925f/by-age.csv?raw=True",index_col=0)
june07['date'] = '06-07-2020'
june07['period'] = 6

In [467]:
june08 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/3f21405a00bf7c93db5a5209b44886882feb30a6/by-age.csv?raw=True",index_col=0)
june08['date'] = '06-08-2020'
june08['period'] = 6

In [468]:
june09 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/5ecc5d16eeb6f8202c3457bea892cfe8eea5dab9/by-age.csv?raw=True",index_col=0)
june09['date'] = '06-09-2020'
june09['period'] = 6

In [469]:
june10 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/b820b687f7b032763fbb38b59d79f512dc3971df/by-age.csv?raw=True",index_col=0)
june10['date'] = '06-10-2020'
june10['period'] = 7

In [470]:
june11 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/b6ae2b94fb0f32283201433147a6f07d0aa14815/by-age.csv?raw=True",index_col=0)
june11['date'] = '06-11-2020'
june11['period'] = 7

In [471]:
june12 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/b92f6e5cd8d625fba712128a54da8236694c5941/by-age.csv?raw=True",index_col=0)
june12['date'] = '06-12-2020'
june12['period'] = 7

In [472]:
june13 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/9b7a380c44801db4cf3fdd87fe97747542e20e03/by-age.csv?raw=True",index_col=0)
june13['date'] = '06-13-2020'
june13['period'] = 7

In [473]:
june14 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/9913aec646fd3eb47b9a84afaf4db3f231b0c3a9/by-age.csv?raw=True",index_col=0)
june14['date'] = '06-14-2020'
june14['period'] = 7

In [474]:
june15 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/8ebc7a35f37f2ed2310574ea5b2e4047163c8265/by-age.csv?raw=True",index_col=0)
june15['date'] = '06-15-2020'
june15['period'] = 7

In [475]:
june16 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/a86f0bf54cf761a0756e99d24fd037c04cb0a2ec/by-age.csv?raw=True",index_col=0)
june16['date'] = '06-16-2020'
june16['period'] = 7

In [476]:
june17 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/9139cf24bd5501cbdff732f4738930ebf2d21ee4/by-age.csv?raw=True",index_col=0)
june17['date'] = '06-17-2020'
june17['period'] = 8

In [477]:
june18 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/ef7b0a53f3f2007fbc98d201a0bec962af06af42/by-age.csv?raw=True",index_col=0)
june18['date'] = '06-18-2020'
june18['period'] = 8

In [478]:
june19 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/7e6195efe0a081ecdf33a7f2ec003d9230268c12/by-age.csv?raw=True",index_col=0)
june19['date'] = '06-19-2020'
june19['period'] = 8

In [479]:
june20 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/1e719a7f7e0db540be277d2f6cf18badc3088ee9/by-age.csv?raw=True",index_col=0)
june20['date'] = '06-20-2020'
june20['period'] = 8

In [480]:
june21 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/deac492572f142ff768b0f377798512b7d71319a/by-age.csv?raw=True",index_col=0)
june21['date'] = '06-21-2020'
june21['period'] = 8

In [481]:
june22 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/cc87cd44bbae0b365e7ec83d25f9ad5bc6b72778/by-age.csv?raw=True",index_col=0)
june22['date'] = '06-22-2020'
june22['period'] = 8

In [482]:
june23 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/cf508e8fe08ddff44a847c1b54209c598b88c913/by-age.csv?raw=True",index_col=0)
june23['date'] = '06-23-2020'
june23['period'] = 8

In [483]:
june24 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/be46b4e48653c29fab890473672cd7d7e0c7e59c/by-age.csv?raw=True",index_col=0)
june24['date'] = '06-24-2020'
june24['period'] = 9

In [484]:
june25 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/296486db8a787e8da20e73bae33f7705e01fbb6b/by-age.csv?raw=True",index_col=0)
june25['date'] = '06-25-2020'
june25['period'] = 9

In [485]:
june26 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/7e1c437a15155923cdd3661efe3d363feb934be0/by-age.csv?raw=True",index_col=0)
june26['date'] = '06-26-2020'
june26['period'] = 9

In [486]:
june27 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/5d87847b9fd6da73ff5c1ba03dada0b624b60744/by-age.csv?raw=True",index_col=0)
june27['date'] = '06-27-2020'
june27['period'] = 9

In [487]:
june28 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/f78cda145befd762b6644b2f57fa47bbc9ce92e3/by-age.csv?raw=True",index_col=0)
june28['date'] = '06-28-2020'
june28['period'] = 9

In [488]:
june30 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/695e5fbdada25273f13b4af024f96e37f8503efc/by-age.csv?raw=True",index_col=0)
june30['date'] = '06-30-2020'
june30['period'] = 9

In [489]:
july01 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/41f823d90887251735ad4e6f4814548fc9526606/by-age.csv?raw=True",index_col=0)
july01['date'] = '07-01-2020'
july01['period'] = 10

In [490]:
july02 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/144c474d7b7cb2d2fd1eb7a0c39208453519e311/by-age.csv?raw=True",index_col=0)
july02['date'] = '07-02-2020'
july02['period'] = 10

In [491]:
july03 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/97b6723d9a02b5f3108b3864ea52627dee92ce68/by-age.csv?raw=True",index_col=0)
july03['date'] = '07-03-2020'
july03['period'] = 10

In [492]:
july04 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/72af70695f62b928425560ff002edc372141ca81/by-age.csv?raw=True",index_col=0)
july04['date'] = '07-04-2020'
july04['period'] = 10

In [493]:
july05 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/2232fd908e3e32244bf653e51e7684af9c87970b/by-age.csv?raw=True",index_col=0)
july05['date'] = '07-05-2020'
july05['period'] = 10

In [494]:
july06 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/eda5f92d1396398f7c0abb72c7d0ce189a374281/by-age.csv?raw=True",index_col=0)
july06['date'] = '07-06-2020'
july06['period'] = 10

In [495]:
july07 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/7132770488c7ef820ab3c3bc9dd22a3dbe5572fe/by-age.csv?raw=True",index_col=0)
july07['date'] = '07-07-2020'
july07['period'] = 10

In [496]:
july08 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/17e76119fc87a656c9ef3729e5e9ac702894b40b/by-age.csv?raw=True",index_col=0)
july08['date'] = '07-08-2020'
july08['period'] = 11

In [497]:
july09 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/ce5be7225940034f774ab31d0dc09ba54125642f/by-age.csv?raw=True",index_col=0)
july09['date'] = '07-09-2020'
july09['period'] = 11

In [498]:
july10 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/70cb39a0b8b78433d26dc8f816d61da78fee75f5/by-age.csv?raw=True",index_col=0)
july10['date'] = '07-10-2020'
july10['period'] = 11

In [499]:
july11 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/7ecf2cdd35fe3a7a0c3d4129a9888fd4ca8550ed/by-age.csv?raw=True",index_col=0)
july11['date'] = '07-11-2020'
july11['period'] = 11

In [500]:
july12 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/4f81f2d5e1b6bcd3f01267ffac4259cda7fae689/by-age.csv?raw=True",index_col=0)
july12['date'] = '07-12-2020'
july12['period'] = 11

In [501]:
july13 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/f9726f4702d598be69987465de64c516a797fec7/by-age.csv?raw=True",index_col=0)
july13['date'] = '07-13-2020'
july13['period'] = 11

In [502]:
july14 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/d3060c1cb1d3afddef722b42c6aa683fb90458e3/by-age.csv?raw=True",index_col=0)
july14['date'] = '07-14-2020'
july14['period'] = 11

In [503]:
july15 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/d9bee1e514769766bfc888c5cf5b56ae7d2fe717/by-age.csv?raw=True",index_col=0)
july15['date'] = '07-15-2020'
july15['period'] = 12

In [504]:
july16 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/884471b3d7fb96a85a500e7360c3eb3d4593cdf4/by-age.csv?raw=True",index_col=0)
july16['date'] = '07-16-2020'
july16['period'] = 12

In [505]:
july17 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/732da3899c7995be809c7034d155e643b8234fde/by-age.csv?raw=True",index_col=0)
july17['date'] = '07-17-2020'
july17['period'] = 12

In [506]:
july18 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/85349ab6bd47414e436873afd7fba6a45bb6ac12/by-age.csv?raw=True",index_col=0)
july18['date'] = '07-18-2020'
july18['period'] = 12

In [507]:
july19 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/b1a629db5ae84d7277e532b203d655e9532720bb/by-age.csv?raw=True",index_col=0)
july19['date'] = '07-19-2020'
july19['period'] = 12

In [508]:
july20 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/4613dc2bca155e3136d2e204ad89d64a30f7a334/by-age.csv?raw=True",index_col=0)
july20['date'] = '07-20-2020'
july20['period'] = 12

In [509]:
july21 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/ef6900beea4eac85128cd117dc83d1319191de08/by-age.csv?raw=True",index_col=0)
july21['date'] = '07-21-2020'
july21['period'] = 12

In [510]:
july22 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/6e4171f60a90d5ee309111facbaa278cccb82a86/by-age.csv?raw=True",index_col=0)
july22['date'] = '07-22-2020'
july22['period'] = 13

In [511]:
july23 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/4270c108e635c67d80af970c4540abdbb003b234/by-age.csv?raw=True",index_col=0)
july23['date'] = '07-23-2020'
july23['period'] = 13

In [512]:
july24 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/c2539dc70437a42575f3c3ea8b230047de23dff3/by-age.csv?raw=True",index_col=0)
july24['date'] = '07-24-2020'
july24['period'] = 13

In [513]:
july25 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/fa0817c7d262dce6ebb2efc7d50bc83bf41991ed/by-age.csv?raw=True",index_col=0)
july25['date'] = '07-25-2020'
july25['period'] = 13

In [514]:
july26 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/f7f16ad2ec56552acaa750825238cfb98796cc96/by-age.csv?raw=True",index_col=0)
july26['date'] = '07-26-2020'
july26['period'] = 13

In [515]:
july27 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/ec4a60ebb5eb79970161ff6ac925eaec481ae6a2/by-age.csv?raw=True",index_col=0)
july27['date'] = '07-27-2020'
july27['period'] = 13

In [516]:
july28 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/6daff424410b0e9faef3f33c8c656c5732282f85/by-age.csv?raw=True",index_col=0)
july28['date'] = '07-28-2020'
july28['period'] = 13

In [517]:
july29 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/18b56f1b5a1dc01fcde42a3243e5102bf8935fae/by-age.csv?raw=True",index_col=0)
july29['date'] = '07-29-2020'
july29['period'] = 13

In [518]:
july30 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/2bed49841afdd9a9c6b584673b03a901a6ad2140/by-age.csv?raw=True",index_col=0)
july30['date'] = '07-30-2020'
july30['period'] = 13

In [519]:
july31 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/f10021ab793108aad8a25db7a85fa0d722ad7912/by-age.csv?raw=True",index_col=0)
july31['date'] = '07-31-2020'
july31['period'] = 13

In [520]:
august01 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/6a26616a502ae5d02e261262ee155fc20041ee30/by-age.csv?raw=True",index_col=0)
august01['date'] = '08-01-2020'
august01['period'] = 13

In [521]:
august02 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/a7315f625e7ef4eb15ed326d8ef66a703fccb613/by-age.csv?raw=True",index_col=0)
august02['date'] = '08-02-2020'
august02['period'] = 13

In [522]:
august03 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/773ffb03e3e4efd32b855f3e31cb113c9e820273/by-age.csv?raw=True",index_col=0)
august03['date'] = '08-03-2020'
august03['period'] = 13

In [523]:
august04 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/2f12509de24f10a5bdccc02bb79d1ad85538d8aa/by-age.csv?raw=True",index_col=0)
august04['date'] = '08-04-2020'
august04['period'] = 13

In [524]:
august05 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/b6a811edae7804c31e18e94c8602a73e2938a191/by-age.csv?raw=True",index_col=0)
august05['date'] = '08-05-2020'
august05['period'] = 13

In [525]:
august06 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/cf02bdfd9dfcf6d5e5d75b9b138b6e727335e9ad/by-age.csv?raw=True",index_col=0)
august06['date'] = '08-06-2020'
august06['period'] = 13

In [526]:
august07 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/dcdc45973712d6bc15523afaecd27d37d6da305e/by-age.csv?raw=True",index_col=0)
august07['date'] = '08-07-2020'
august07['period'] = 13

In [527]:
august08 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/7c5b81b991c2b5edbf26c237286d497bf869be2c/by-age.csv?raw=True",index_col=0)
august08['date'] = '08-08-2020'
august08['period'] = 13

In [528]:
august09 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/66105d19d9d1612cba57d904cd90eebde9115704/by-age.csv?raw=True",index_col=0)
august09['date'] = '08-09-2020'
august09['period'] = 13

In [529]:
august10 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/f4f433546d1c2cd2321ac5d3bb51d8689e83d419/by-age.csv?raw=True",index_col=0)
august10['date'] = '08-10-2020'
august10['period'] = 13

In [530]:
august11 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/5158a16b1c0927a55e08f9d2a6c94279d4a90003/by-age.csv?raw=True",index_col=0)
august11['date'] = '08-11-2020'
august11['period'] = 13

In [531]:
august12 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/16224c08aeaf5a625785ac4a82137d0369db4e93/by-age.csv?raw=True",index_col=0)
august12['date'] = '08-12-2020'
august12['period'] = 13

In [532]:
august13 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/5f06bd065ec344111d569b23f29f42e0701eac01/by-age.csv?raw=True",index_col=0)
august13['date'] = '08-13-2020'
august13['period'] = 13

In [533]:
august14 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/538891f0e2aeeb60b543bb930ea35b6d08f72790/by-age.csv?raw=True",index_col=0)
august14['date'] = '08-14-2020'
august14['period'] = 13

In [534]:
august15 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/91bd862d71e2d6df81843a5e05510629884ca4d2/by-age.csv?raw=True",index_col=0)
august15['date'] = '08-15-2020'
august15['period'] = 13

In [535]:
august16 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/a5fecbe9f995723e5a0c4b816a985eaff4789340/by-age.csv?raw=True",index_col=0)
august16['date'] = '08-16-2020'
august16['period'] = 13

In [536]:
august17 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/0f4f0056ee6de6f2a54b0272c7638f5de46698d2/by-age.csv?raw=True",index_col=0)
august17['date'] = '08-17-2020'
august17['period'] = 13

In [537]:
august18 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/02b25780056aa1c24d29f307d76d0f188a1b9839/by-age.csv?raw=True",index_col=0)
august18['date'] = '08-18-2020'
august18['period'] = 13

In [538]:
august19 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/5d654516f35cff33c071f702ba727e0ac1b626e4/by-age.csv?raw=True",index_col=0)
august19['date'] = '08-19-2020'
august19['period'] = 13

In [539]:
august20 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/647a8213dc537c9fad89162aaf7efd4d77f4a80f/by-age.csv?raw=True",index_col=0)
august20['date'] = '08-20-2020'
august20['period'] = 13

In [540]:
august21 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/ce3f3a6952914b8222b3f495ccd69a7f3b881e45/by-age.csv?raw=True",index_col=0)
august21['date'] = '08-21-2020'
august21['period'] = 13

In [541]:
august22 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/7e3f387baff20f9cd051a0795a7872f0ab769dcf/by-age.csv?raw=True",index_col=0)
august22['date'] = '08-22-2020'
august22['period'] = 13

In [542]:
august23 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/96f12eaa412873a96bd4a3ba2721b6f543522a4b/by-age.csv?raw=True",index_col=0)
august23['date'] = '08-23-2020'
august23['period'] = 13

In [543]:
august24 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/855b4e1f58fb9e989dcb0a5f96a5ecaa64e60151/by-age.csv?raw=True",index_col=0)
august24['date'] = '08-24-2020'
august24['period'] = 13

In [544]:
august25 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/13daf0b4147ba7a2c0b1064eca9851ce0292c19a/by-age.csv?raw=True",index_col=0)
august25['date'] = '08-25-2020'
august25['period'] = 13

In [545]:
august26 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/873753a66c9e385232fb6e34038fda1adb3508ce/by-age.csv?raw=True",index_col=0)
august26['date'] = '08-26-2020'
august26['period'] = 13

In [546]:
august27 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/223542604303441a1879c14421c7debb04c800d0/by-age.csv?raw=True",index_col=0)
august27['date'] = '08-27-2020'
august27['period'] = 13

In [547]:
august28 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/d85359c5a13362536708093a81e9ac72e29e39ed/by-age.csv?raw=True",index_col=0)
august28['date'] = '08-28-2020'
august28['period'] = 13

In [548]:
august29 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/35ab5bf63970829b63ee14544b46c2ed5982774f/by-age.csv?raw=True",index_col=0)
august29['date'] = '08-29-2020'
august29['period'] = 13

In [549]:
august30 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/6fa5de80898446c1c651985be0f9d78073667180/by-age.csv?raw=True",index_col=0)
august30['date'] = '08-30-2020'
august30['period'] = 13

In [550]:
august31 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/bd0a5fe2dd4e768856b64b1d17b295793ae2488f/by-age.csv?raw=True",index_col=0)
august31['date'] = '08-31-2020'
august31['period'] = 13

In [551]:
sept01 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/7953c97d1e58bbed9934ea04affb12ca74d9c0fb/by-age.csv?raw=True",index_col=0)
sept01['date'] = '09-01-2020'
sept01['period'] = 14

In [552]:
sept02 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/c1469896916cb2c53e0e1faf3fa571d700602187/by-age.csv?raw=True",index_col=0)
sept02['date'] = '09-02-2020'
sept02['period'] = 14

In [553]:
sept03 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/f58fbecef084a15f04c9b8ee99c498ee2d54b03b/by-age.csv?raw=True",index_col=0)
sept03['date'] = '09-03-2020'
sept03['period'] = 14

In [554]:
sept04 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/c7802cf766ae52830403b11edf35a3a895d8d64a/by-age.csv?raw=True",index_col=0)
sept04['date'] = '09-04-2020'
sept04['period'] = 14

In [555]:
sept05 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/543178026a2531ab3ae9361364c6ae746e44cf65/by-age.csv?raw=True",index_col=0)
sept05['date'] = '09-05-2020'
sept05['period'] = 14

In [556]:
sept07 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/eac59e5a80628a4aba90460d0cb34c89730532d2/by-age.csv?raw=True",index_col=0)
sept07['date'] = '09-07-2020'
sept07['period'] = 14

In [557]:
sept08 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/dd51fbe3d9c7fa4add393b051dd88bf95dd6758f/by-age.csv?raw=True",index_col=0)
sept08['date'] = '09-08-2020'
sept08['period'] = 14

In [558]:
sept09 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/128d24ac2067dba0ad9450dd548be86856b1698d/by-age.csv?raw=True",index_col=0)
sept09['date'] = '09-09-2020'
sept09['period'] = 14

In [559]:
sept10 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/0eecfe17c3f18db23e7c96224af7316925275904/by-age.csv?raw=True",index_col=0)
sept10['date'] = '09-10-2020'
sept10['period'] = 14

In [560]:
sept11 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/e79fff6fe7aabfd7c8acd9259b12648b026e7a41/by-age.csv?raw=True",index_col=0)
sept11['date'] = '09-11-2020'
sept11['period'] = 14

In [561]:
sept12 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/d136fb982ecb454d83e4c2dec9b3bcef9385e392/by-age.csv?raw=True",index_col=0)
sept12['date'] = '09-12-2020'
sept12['period'] = 14

In [562]:
sept14 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/3410bae200490807019094e85fe69421036ea938/by-age.csv?raw=True",index_col=0)
sept14['date'] = '09-14-2020'
sept14['period'] = 14

In [563]:
sept15 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/310656d1b83d95f4db08a358702522179c8d09ed/by-age.csv?raw=True",index_col=0)
sept15['date'] = '09-15-2020'
sept15['period'] = 15

In [564]:
sept16 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/e41828f575d20cac7e64a385f9a12d78bb549970/by-age.csv?raw=True",index_col=0)
sept16['date'] = '09-16-2020'
sept16['period'] = 15

In [565]:
sept17 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/f8b6bdc641b4bc92bebfd6333e28ec87c64e234e/by-age.csv?raw=True",index_col=0)
sept17['date'] = '09-17-2020'
sept17['period'] = 15

In [566]:
sept18 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/87ee05a6bb687a2731ef3d7ee8905003f27e5e9b/by-age.csv?raw=True",index_col=0)
sept18['date'] = '09-18-2020'
sept18['period'] = 15

In [567]:
sept19 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/3e716fa6b44c43efe4652e26a5e7c123b3ed98a3/by-age.csv?raw=True",index_col=0)
sept19['date'] = '09-19-2020'
sept19['period'] = 15

In [568]:
sept20 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/6bb2ffe73557b2a9fad7e45923e2f0460a427ca6/by-age.csv?raw=True",index_col=0)
sept20['date'] = '09-20-2020'
sept20['period'] = 15

In [569]:
sept21 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/161d7da66af7c4474db757f572758ef4d6aba21b/by-age.csv?raw=True",index_col=0)
sept21['date'] = '09-21-2020'
sept21['period'] = 15

In [570]:
sept22 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/2e545fc49fe04a7f33201d38723f9e9f782fae7c/by-age.csv?raw=True",index_col=0)
sept22['date'] = '09-22-2020'
sept22['period'] = 15

In [571]:
sept23 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/1d5d6a1a95a78a863630c748e2aff251eed2ca95/by-age.csv?raw=True",index_col=0)
sept23['date'] = '09-23-2020'
sept23['period'] = 15

In [572]:
sept24 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/7ce1b84610232be9c3f780484865a51f73b8c469/by-age.csv?raw=True",index_col=0)
sept24['date'] = '09-24-2020'
sept24['period'] = 15

In [573]:
sept25 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/5a6066855b785c2537606574022f5bff1611af98/by-age.csv?raw=True",index_col=0)
sept25['date'] = '09-25-2020'
sept25['period'] = 15

In [574]:
sept26 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/a0c44938240bf25ef7baca8f817025768ac17ce9/by-age.csv?raw=True",index_col=0)
sept26['date'] = '09-26-2020'
sept26['period'] = 15

In [575]:
sept27 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/032c0d2f500e4b1bbe2280eb8f152461bec9a267/by-age.csv?raw=True",index_col=0)
sept27['date'] = '09-27-2020'
sept27['period'] = 15

In [576]:
sept28 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/c4b0c754cb3565c1505da831c5590bfaf8173a41/by-age.csv?raw=True",index_col=0)
sept28['date'] = '09-28-2020'
sept28['period'] = 15

In [577]:
sept29 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/0ab879c930b56d75dfccbb3ad72115dc28cc384e/by-age.csv?raw=True",index_col=0)
sept29['date'] = '09-29-2020'
sept29['period'] = 16

In [578]:
sept30 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/8cf8f106c71f9be9bb457fac71ff573939daded4/by-age.csv?raw=True",index_col=0)
sept30['date'] = '09-30-2020'
sept30['period'] = 16

In [579]:
oct01 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/697dcb6c9bd3531b3838a733bfb26aeb97538224/by-age.csv?raw=True",index_col=0)
oct01['date'] = '10-01-2020'
oct01['period'] = 16

In [580]:
oct02 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/63fda4e22b578916ad272d1b0e29dfe9e0cdb83f/by-age.csv?raw=True",index_col=0)
oct02['date'] = '10-02-2020'
oct02['period'] = 16

In [581]:
oct03 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/1f17e81a3bf0cbb211c7fe298ceaa653919cb6a2/by-age.csv?raw=True",index_col=0)
oct03['date'] = '10-03-2020'
oct03['period'] = 16

In [582]:
oct04 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/341ad71b60557d146749b6354824b16289d11d6d/by-age.csv?raw=True",index_col=0)
oct04['date'] = '10-04-2020'
oct04['period'] = 16

In [583]:
oct05 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/c7bdbd3a623810bd355fef8881df39a6f84449a9/by-age.csv?raw=True",index_col=0)
oct05['date'] = '10-05-2020'
oct05['period'] = 16

In [584]:
oct06 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/40fc9f45101c0bc5043d2fa214ae84ba1e12ecca/by-age.csv?raw=True",index_col=0)
oct06['date'] = '10-06-2020'
oct06['period'] = 16

In [585]:
oct07 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/ec50d88a376b2ab345ee9bd9b28d8a5e05dd8a95/by-age.csv?raw=True",index_col=0)
oct07['date'] = '10-07-2020'
oct07['period'] = 16

In [586]:
oct08 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/313706916b3e2c7566b7daab1673be4f0298e5ee/by-age.csv?raw=True",index_col=0)
oct08['date'] = '10-08-2020'
oct08['period'] = 16

In [587]:
oct09 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/e03b1d4d88c882f506181662f4f72ff955ae2f6c/by-age.csv?raw=True",index_col=0)
oct09['date'] = '10-09-2020'
oct09['period'] = 16

In [588]:
oct10 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/cb99a5b4dbf908e7d6d401b598360699a0b9fd05/by-age.csv?raw=True",index_col=0)
oct10['date'] = '10-10-2020'
oct10['period'] = 16

In [589]:
oct11 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/462d1599f97c247d9e574d1e12ba5e504672176a/by-age.csv?raw=True",index_col=0)
oct11['date'] = '10-11-2020'
oct11['period'] = 16

In [590]:
oct12 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/97fe004bda175b5a0dc8ac6fcac6c31a3c2c8131/by-age.csv?raw=True",index_col=0)
oct12['date'] = '10-12-2020'
oct12['period'] = 16

In [591]:
oct13 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/fef6e6109ad6e9d22626c79f1037cff7b9af2993/by-age.csv?raw=True",index_col=0)
oct13['date'] = '10-13-2020'
oct13['period'] = 17

In [592]:
oct14 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/5c45ef10df8f0709e7c06c510293e3718afdd018/by-age.csv?raw=True",index_col=0)
oct14['date'] = '10-14-2020'
oct14['period'] = 17

In [593]:
oct15 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/15b0c0dba6d4710eae049856d00102ef26885513/by-age.csv?raw=True",index_col=0)
oct15['date'] = '10-15-2020'
oct15['period'] = 17

In [594]:
oct16 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/952ff161e01c941c13e075b6fe716078f8bb0326/by-age.csv?raw=True",index_col=0)
oct16['date'] = '10-16-2020'
oct16['period'] = 17

In [595]:
oct17 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/fc1dd3f016af243445aecc59b36ac7f52f7b9077/by-age.csv?raw=True",index_col=0)
oct17['date'] = '10-17-2020'
oct17['period'] = 17

In [596]:
oct18 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/3d0dbcbb2182b4e58947dc21c02d9d14227df351/by-age.csv?raw=True",index_col=0)
oct18['date'] = '10-18-2020'
oct18['period'] = 17

In [597]:
oct19 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/31539b5ed620dcc89221a9e04d1c6e750e97190e/by-age.csv?raw=True",index_col=0)
oct19['date'] = '10-19-2020'
oct19['period'] = 17

In [598]:
oct20 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/d9e1abb1fd060be6da7c15a9da8fbc48d6996115/by-age.csv?raw=True",index_col=0)
oct20['date'] = '10-20-2020'
oct20['period'] = 17

In [599]:
oct21 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/85af947d26dfe87426f9affb4a214a6b17ec8179/by-age.csv?raw=True",index_col=0)
oct21['date'] = '10-21-2020'
oct21['period'] = 17

In [600]:
oct22 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/42779da0df67f57afe1fce693968dbd69ab07599/by-age.csv?raw=True",index_col=0)
oct22['date'] = '10-22-2020'
oct22['period'] = 17

In [601]:
oct23 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/ce09ccd13b8ed2f4d48720bacf91be69faec0650/by-age.csv?raw=True",index_col=0)
oct23['date'] = '10-23-2020'
oct23['period'] = 17

In [602]:
oct24 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/c0d25ca1d7b10ecdec0d06e68fed0594fbc56ffd/by-age.csv?raw=True",index_col=0)
oct24['date'] = '10-24-2020'
oct24['period'] = 17

In [603]:
oct25 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/c307db50ac76fe8741eac9d5e3cd9a50fb3fc769/by-age.csv?raw=True",index_col=0)
oct25['date'] = '10-25-2020'
oct25['period'] = 17

In [604]:
oct26 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/28f0281a3aded96b8f20b7a04666f07824fc751f/by-age.csv?raw=True",index_col=0)
oct26['date'] = '10-26-2020'
oct26['period'] = 18

In [605]:
oct27 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/715d0f33663cb2c94b099f76dac7d23b6f3edb31/by-age.csv?raw=True",index_col=0)
oct27['date'] = '10-27-2020'
oct27['period'] = 18

In [606]:
oct28 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/cb0558eb2c9e583c9223b91440ebaf9e733cc9e2/by-age.csv?raw=True",index_col=0)
oct28['date'] = '10-28-2020'
oct28['period'] = 18

In [607]:
oct29 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/128daa167ef810e2a4ec12be7bee9cb97ab49ae1/by-age.csv?raw=True",index_col=0)
oct29['date'] = '10-29-2020'
oct29['period'] = 18

In [608]:
oct30 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/7f4867ca1e415de9f6ee250cff2302638672cea3/by-age.csv?raw=True",index_col=0)
oct30['date'] = '10-30-2020'
oct30['period'] = 18

In [609]:
oct31 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/260d473f65340c97bcb090a53a7ab26b2b4f8109/by-age.csv?raw=True",index_col=0)
oct31['date'] = '10-31-2020'
oct31['period'] = 18

In [610]:
nov01 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/9cffb4349df55897ea759605763ba370e348a2bd/by-age.csv?raw=True",index_col=0)
nov01['date'] = '11-01-2020'
nov01['period'] = 18

In [611]:
nov02 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/e6e787c50b3740f3027aa73f61f50862c6e256b4/by-age.csv?raw=True",index_col=0)
nov02['date'] = '11-02-2020'
nov02['period'] = 18

In [612]:
nov03 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/8bf92953f66af6f164a38e5495a565df5c33e52b/by-age.csv?raw=True",index_col=0)
nov03['date'] = '11-03-2020'
nov03['period'] = 18

In [613]:
nov04 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/bb150d5ed4b9e00ddca371ea12e198c6c03f8b18/by-age.csv?raw=True",index_col=0)
nov04['date'] = '11-04-2020'
nov04['period'] = 18

In [614]:
nov05 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/4c42e8e547e3067cc50d2456eaaaaf2bc30b851c/by-age.csv?raw=True",index_col=0)
nov05['date'] = '11-05-2020'
nov05['period'] = 18

In [615]:
nov06 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/1674319313641471abf3cc8d8d72bd916720c656/by-age.csv?raw=True",index_col=0)
nov06['date'] = '11-06-2020'
nov06['period'] = 18

In [616]:
nov07 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/040df3dc03671516975c9b3d662130bcae07b3d4/by-age.csv?raw=True",index_col=0)
nov07['date'] = '11-07-2020'
nov07['period'] = 18

In [617]:
nov08 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/5fa26a89ff253abad5478085bfa69afe480ba206/by-age.csv?raw=True",index_col=0)
nov08['date'] = '11-08-2020'
nov08['period'] = 18

In [618]:
def standard (df):
    helper = df
    totals = helper.loc['0-4'] + helper.loc['5-12'] + helper.loc['13-17']
    totals1 = helper.loc['18-24'] + helper.loc['25-34'] + helper.loc['35-44']
    totals2 = helper.loc['45-54'] + helper.loc['55-64']
    totals3 = helper.loc['65-74']
    totals4 = helper.loc['75+']
    citywide = helper.loc['Citywide']
    
    df = pd.concat([totals, totals1, totals2, totals3, totals4, citywide], axis=1)
    df = df.T
    df = df.rename_axis("AGE_GROUP")
    df_new = df.rename(index={0: '0-17', 1: '18-44', 2: '45-64'})
    return df_new

In [619]:
nov09 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/700a357f272b309fd8841b5e7dc4f4a53bb116ff/totals/by-age.csv?raw=True",index_col=0)
nov09 = standard(nov09)
nov09['date'] = '11-09-2020'
nov09['period'] = 18

In [620]:
nov10 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/4fbd5d7e64384c3fef1d7a51b3d328a31b2aa858/totals/by-age.csv?raw=True",index_col=0)
nov10 = standard(nov10)
nov10['date'] = '11-10-2020'
nov10['period'] = 19

In [621]:
nov11 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/540d4f54e1da28200ac5528dce7011f21182261b/totals/by-age.csv?raw=True",index_col=0)
nov11 = standard(nov11)
nov11['date'] = '11-11-2020'
nov11['period'] = 19

In [622]:
nov12 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/207843ea98bcbf3b576e3ca35b146112e384aeb5/totals/by-age.csv?raw=True",index_col=0)
nov12 = standard(nov12)
nov12['date'] = '11-12-2020'
nov12['period'] = 19

In [623]:
nov13 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/3592d537fdf4d69968821501ff96250a60413939/totals/by-age.csv?raw=True",index_col=0)
nov13 = standard(nov13)
nov13['date'] = '11-13-2020'
nov13['period'] = 19

In [624]:
nov14 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/5871e80ba96a51c784224cac2ee3199b613ce722/totals/by-age.csv?raw=True",index_col=0)
nov14 = standard(nov14)
nov14['date'] = '11-14-2020'
nov14['period'] = 19

In [625]:
nov15 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/59c8b22dc9e5f1decda251cca8b70e8492ec218c/totals/by-age.csv?raw=True",index_col=0)
nov15= standard(nov15)
nov15['date'] = '11-15-2020'
nov15['period'] = 19

In [626]:
nov16 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/46baead9afb0ea58fbf5a6f9d7435096a557c514/totals/by-age.csv?raw=True",index_col=0)
nov16= standard(nov16)
nov16['date'] = '11-16-2020'
nov16['period'] = 19

In [627]:
nov17 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/4b503214d87c8e261d67ed9adfed725b9650c4ea/totals/by-age.csv?raw=True",index_col=0)
nov17= standard(nov17)
nov17['date'] = '11-17-2020'
nov17['period'] = 19

In [628]:
nov18 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/9d4dc17a508b271804ca7ecea2aaca2f77b2493a/totals/by-age.csv?raw=True",index_col=0)
nov18= standard(nov18)
nov18['date'] = '11-18-2020'
nov18['period'] = 19

In [629]:
nov19 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/4459cf48a411e57a499900d9a67dd177e38dc622/totals/by-age.csv?raw=True",index_col=0)
nov19= standard(nov19)
nov19['date'] = '11-19-2020'
nov19['period'] = 19

In [630]:
nov20 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/dc7489fa7e34ea6f3eb1961cc6b7fda85a20803a/totals/by-age.csv?raw=True",index_col=0)
nov20 = standard(nov20)
nov20['date'] = '11-20-2020'
nov20['period'] = 19

In [631]:
nov21 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/328c93227ea6da6fc1b8c49accb8326bde02fcac/totals/by-age.csv?raw=True",index_col=0)
nov21 = standard(nov21)
nov21['date'] = '11-21-2020'
nov21['period'] = 19

In [632]:
nov22 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/a0294db54c03f475f8d5d9f28994d28c6e21ddd0/totals/by-age.csv?raw=True",index_col=0)
nov22 = standard(nov22)
nov22['date'] = '11-22-2020'
nov22['period'] = 19

In [633]:
nov23 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/b9f76179d845efc938154901a42e29f7f5a9cf7c/totals/by-age.csv?raw=True",index_col=0)
nov23 = standard(nov23)
nov23['date'] = '11-23-2020'
nov23['period'] = 19

In [634]:
nov24 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/f51925b0f9d10110daee621ccf38fa3ee949cbd3/totals/by-age.csv?raw=True",index_col=0)
nov24 = standard(nov24)
nov24['date'] = '11-24-2020'
nov24['period'] = 20

In [635]:
nov25 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/c9c974e6a1fe24de4355cb0662c0c46f688f8f71/totals/by-age.csv?raw=True",index_col=0)
nov25 = standard(nov25)
nov25['date'] = '11-25-2020'
nov25['period'] = 20

In [636]:
nov26 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/2497bdf1ab836a75e0fc432b37791628209098c7/totals/by-age.csv?raw=True",index_col=0)
nov26 = standard(nov26)
nov26['date'] = '11-26-2020'
nov26['period'] = 20

In [637]:
nov27 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/13c4c61fcd426eb9b285f2953ce2e262c192f49f/totals/by-age.csv?raw=True",index_col=0)
nov27 = standard(nov27)
nov27['date'] = '11-27-2020'
nov27['period'] = 20

In [638]:
nov28 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/379c54bd8626ac6de60ee34c0b75513db0d84a0e/totals/by-age.csv?raw=True",index_col=0)
nov28 = standard(nov28)
nov28['date'] = '11-28-2020'
nov28['period'] = 20

In [639]:
nov29 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/4572c832b56a4ab6aed8a84b0ca12b0a59566893/totals/by-age.csv?raw=True",index_col=0)
nov29 = standard(nov29)
nov29['date'] = '11-29-2020'
nov29['period'] = 20

In [640]:
nov30 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/98897168a67257d219f6e60017fb35c182dd295a/totals/by-age.csv?raw=True",index_col=0)
nov30 = standard(nov30)
nov30['date'] = '11-30-2020'
nov30['period'] = 20

In [641]:
dec01 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/e645051cb6e874a7e856f7f24fccdab3a2e4cb9e/totals/by-age.csv?raw=True",index_col=0)
dec01 = standard(dec01)
dec01['date'] = '12-01-2020'
dec01['period'] = 20

In [642]:
dec02 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/6c5826345d7545fa1c11c1567030b8e61076133d/totals/by-age.csv?raw=True",index_col=0)
dec02 = standard(dec02)
dec02['date'] = '12-02-2020'
dec02['period'] = 20

In [643]:
dec03 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/08df4c528a7fb5d703438ebfef63d620b79685d5/totals/by-age.csv?raw=True",index_col=0)
dec03 = standard(dec03)
dec03['date'] = '12-03-2020'
dec03['period'] = 20

In [644]:
dec04 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/4fd1bbc582ea11e00895edaaf1b87cca633f75f2/totals/by-age.csv?raw=True",index_col=0)
dec04 = standard(dec04)
dec04['date'] = '12-04-2020'
dec04['period'] = 20

In [645]:
dec05 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/6d18f8da3c91369bd3d494f0ea3a67e2b2e42731/totals/by-age.csv?raw=True",index_col=0)
dec05 = standard(dec05)
dec05['date'] = '12-05-2020'
dec05['period'] = 20

In [646]:
dec06 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/e3f3b1dc540d0b4b23d43ff4c2954a22effff7c4/totals/by-age.csv?raw=True",index_col=0)
dec06 = standard(dec06)
dec06['date'] = '12-06-2020'
dec06['period'] = 20

In [647]:
dec07 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/ef4c1c4fc937cbe5942e5d2535d36d14710c16ab/totals/by-age.csv?raw=True",index_col=0)
dec07 = standard(dec07)
dec07['date'] = '12-07-2020'
dec07['period'] = 20

In [648]:
dec08 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/2a2295acc84a0c6f42617bfd60236d7b13c264e9/totals/by-age.csv?raw=True",index_col=0)
dec08 = standard(dec08)
dec08['date'] = '12-08-2020'
dec08['period'] = 21

In [649]:
dec09 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/1f6b414c6cb9e753f25ba5ccd55a7e96994ea8d3/totals/by-age.csv?raw=True",index_col=0)
dec09 = standard(dec09)
dec09['date'] = '12-09-2020'
dec09['period'] = 21

In [650]:
dec10 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/46ab169e83d19fa8ad7051a3e1bab162ef0c1aca/totals/by-age.csv?raw=True",index_col=0)
dec10 = standard(dec10)
dec10['date'] = '12-10-2020'
dec10['period'] = 21

In [651]:
dec11 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/4250efeaabe764e736c618edb882b48630d51f18/totals/by-age.csv?raw=True",index_col=0)
dec11 = standard(dec11)
dec11['date'] = '12-11-2020'
dec11['period'] = 21

In [652]:
dec12 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/3333e6369a3b5563815b2fccb55a5556bc72beb4/totals/by-age.csv?raw=True",index_col=0)
dec12 = standard(dec12)
dec12['date'] = '12-12-2020'
dec12['period'] = 21

In [653]:
dec13 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/c2ea90b8c8523e5e3694340abb72aa1dd3980f27/totals/by-age.csv?raw=True",index_col=0)
dec13 = standard(dec13)
dec13['date'] = '12-13-2020'
dec13['period'] = 21

In [654]:
dec14 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/e5ac2ca21d07c4844830c96fccb9347e4e2ffb1c/totals/by-age.csv?raw=True",index_col=0)
dec14 = standard(dec14)
dec14['date'] = '12-14-2020'
dec14['period'] = 21

In [655]:
dec15 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/cf80d7bfc4b4e8ce94e35bca9875db91c7d21f54/totals/by-age.csv?raw=True",index_col=0)
dec15 = standard(dec15)
dec15['date'] = '12-15-2020'
dec15['period'] = 21

In [656]:
dec16 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/9ab961602ec2dad82a5b4090129e74675b769068/totals/by-age.csv?raw=True",index_col=0)
dec16 = standard(dec16)
dec16['date'] = '12-16-2020'
dec16['period'] = 21

In [657]:
dec17 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/15f2d39867fa10f6242e9b2c6c64949cb3dc81f7/totals/by-age.csv?raw=True",index_col=0)
dec17 = standard(dec17)
dec17['date'] = '12-17-2020'
dec17['period'] = 21

In [658]:
dec18 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/7348886331606bbe6524a6f00318280175b4f1d9/totals/by-age.csv?raw=True",index_col=0)
dec18 = standard(dec18)
dec18['date'] = '12-18-2020'
dec18['period'] = 21

In [659]:
dec19 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/e016f9dc350c7c692dca3310b19f7b6cd997961b/totals/by-age.csv?raw=True",index_col=0)
dec19 = standard(dec19)
dec19['date'] = '12-19-2020'
dec19['period'] = 21

In [660]:
dec20 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/ef1eb6df337da668654b33eb5bfe4817961d9014/totals/by-age.csv?raw=True",index_col=0)
dec20 = standard(dec20)
dec20['date'] = '12-20-2020'
dec20['period'] = 21

In [661]:
dec21 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/9bbdd36a27c544a716fe9a390ee72e9a6a5694d6/totals/by-age.csv?raw=True",index_col=0)
dec21 = standard(dec21)
dec21['date'] = '12-21-2020'
dec21['period'] = 21

In [662]:
dec22 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/a0ce4919207c8704abd3582a9671351bb094dc6e/totals/by-age.csv?raw=True",index_col=0)
dec22 = standard(dec22)
dec22['date'] = '12-22-2020'
dec22['period'] = 22

In [663]:
dec23 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/f4e058c7b491f7e8e4f58bd6d5d2f504ff4bcf59/totals/by-age.csv?raw=True",index_col=0)
dec23 = standard(dec23)
dec23['date'] = '12-23-2020'
dec23['period'] = 22

In [664]:
dec24 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/ecc92a3d0759ea007c2ab2768a13e23aded96b3b/totals/by-age.csv?raw=True",index_col=0)
dec24 = standard(dec24)
dec24['date'] = '12-24-2020'
dec24['period'] = 22

In [665]:
dec25 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/0b8c8fe99e987a64add27c71be31dc484d2430ca/totals/by-age.csv?raw=True",index_col=0)
dec25 = standard(dec25)
dec25['date'] = '12-25-2020'
dec25['period'] = 22

In [666]:
dec26 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/856fc4446c8bfa26fa2dc416c0a877d90f622040/totals/by-age.csv?raw=True",index_col=0)
dec26 = standard(dec26)
dec26['date'] = '12-26-2020'
dec26['period'] = 22

In [667]:
dec27 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/ed5718612d7b34884a11d0ceb4d55f24a7d67c5e/totals/by-age.csv?raw=True",index_col=0)
dec27 = standard(dec27)
dec27['date'] = '12-27-2020'
dec27['period'] = 22

In [668]:
dec28 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/229e44159b7c4c5fa25d14b632552756493d8d5e/totals/by-age.csv?raw=True",index_col=0)
dec28 = standard(dec28)
dec28['date'] = '12-28-2020'
dec28['period'] = 22

In [669]:
dec29 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/f75e7410a4f4c3b03bb6d9e381fa6312f95e3d41/totals/by-age.csv?raw=True",index_col=0)
dec29 = standard(dec29)
dec29['date'] = '12-29-2020'
dec29['period'] = 22

In [670]:
dec30 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/86412bcf5daedfa0065384ffd10ab2c5e02efcec/totals/by-age.csv?raw=True",index_col=0)
dec30 = standard(dec30)
dec30['date'] = '12-30-2020'
dec30['period'] = 22

In [671]:
dec31 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/913378382f3e0d884a858d2397a9caa6f963acb1/totals/by-age.csv?raw=True",index_col=0)
dec31 = standard(dec31)
dec31['date'] = '12-31-2020'
dec31['period'] = 22

In [672]:
jan01 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/06b7d29808c370b4932d5e0f33ac96de93dcd18a/totals/by-age.csv?raw=True",index_col=0)
jan01 = standard(jan01)
jan01['date'] = '01-01-2021'
jan01['period'] = 22

In [673]:
jan02 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/49ae87a0174b48b238834f0c74815162c2f37fae/totals/by-age.csv?raw=True",index_col=0)
jan02 = standard(jan02)
jan02['date'] = '01-02-2021'
jan02['period'] = 22

In [674]:
jan03 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/22b5db0d9b24d45502e90c573dc5b80f6dcde5fd/totals/by-age.csv?raw=True",index_col=0)
jan03 = standard(jan03)
jan03['date'] = '01-03-2021'
jan03['period'] = 22

In [675]:
jan04 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/7e8544ecbf8ab76d767d14b9678787b35ccf1d1f/totals/by-age.csv?raw=True",index_col=0)
jan04 = standard(jan04)
jan04['date'] = '01-04-2021'
jan04['period'] = 22

In [676]:
jan05 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/9b8f6e80b87fdebdf6e39e7ce7be11f6ce6088a3/totals/by-age.csv?raw=True",index_col=0)
jan05 = standard(jan05)
jan05['date'] = '01-05-2021'
jan05['period'] = 22

In [677]:
jan06 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/aad17f203105d94cde512d7c3935b0f0212face3/totals/by-age.csv?raw=True",index_col=0)
jan06 = standard(jan06)
jan06['date'] = '01-06-2021'
jan06['period'] = 22

In [678]:
jan07 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/a7d50ecd0fc9f430c00c6ace367e1814489971c0/totals/by-age.csv?raw=True",index_col=0)
jan07 = standard(jan07)
jan07['date'] = '01-07-2021'
jan07['period'] = 22

In [679]:
jan08 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/fb8fc9237de45a6505d42378d3801f7581fe5c25/totals/by-age.csv?raw=True",index_col=0)
jan08 = standard(jan08)
jan08['date'] = '01-08-2021'
jan08['period'] = 22

In [680]:
jan09 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/dd113f98a3c8afa2c7b32a14d35cbb962a937674/totals/by-age.csv?raw=True",index_col=0)
jan09 = standard(jan09)
jan09['date'] = '01-09-2021'
jan09['period'] = 22

In [681]:
jan10 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/83b4395eaa3e41489010d3e6cdbec8742be6cdbb/totals/by-age.csv?raw=True",index_col=0)
jan10 = standard(jan10)
jan10['date'] = '01-10-2021'
jan10['period'] = 22

In [682]:
jan11 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/bd4f6987eb5d72119c94abb939bcdebc103a9d49/totals/by-age.csv?raw=True",index_col=0)
jan11 = standard(jan11)
jan11['date'] = '01-11-2021'
jan11['period'] = 22

In [683]:
jan12 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/66f1182926acae4d29c535c276cc385f2b7cfec1/totals/by-age.csv?raw=True",index_col=0)
jan12 = standard(jan12)
jan12['date'] = '01-12-2021'
jan12['period'] = 22

In [684]:
jan13 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/955f055b99a866b1605b78e6bd3af96e73e89144/totals/by-age.csv?raw=True",index_col=0)
jan13 = standard(jan13)
jan13['date'] = '01-13-2021'
jan13['period'] = 22

In [685]:
jan14 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/3fcea7d09e4b011314befb5776ea6f3a0c5a7d7e/totals/by-age.csv?raw=True",index_col=0)
jan14 = standard(jan14)
jan14['date'] = '01-14-2021'
jan14['period'] = 22

In [686]:
jan15 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/0b86e9c03065ac53e15a9b1dfec05adc95df3b9d/totals/by-age.csv?raw=True",index_col=0)
jan15 = standard(jan15)
jan15['date'] = '01-15-2021'
jan15['period'] = 22

In [687]:
jan16 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/92768c7cce14c4bb7f2a5cf536a87f47b9034bb0/totals/by-age.csv?raw=True",index_col=0)
jan16 = standard(jan16)
jan16['date'] = '01-16-2021'
jan16['period'] = 22

In [688]:
jan17 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/6fed4afef54c11cc25172e6096f2e67c2857c79b/totals/by-age.csv?raw=True",index_col=0)
jan17 = standard(jan17)
jan17['date'] = '01-17-2021'
jan17['period'] = 22

In [689]:
jan18 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/7940bffb4b259ecc40e5c31a3abc33057220e915/totals/by-age.csv?raw=True",index_col=0)
jan18 = standard(jan18)
jan18['date'] = '01-18-2021'
jan18['period'] = 22

In [690]:
jan19 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/1c3c79a4b14b8277477d36272da677625f40577b/totals/by-age.csv?raw=True",index_col=0)
jan19 = standard(jan19)
jan19['date'] = '01-19-2021'
jan19['period'] = 23

In [691]:
jan20 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/67f5d5854e38101f095e22c9aa84569e5c955630/totals/by-age.csv?raw=True",index_col=0)
jan20 = standard(jan20)
jan20['date'] = '01-20-2021'
jan20['period'] = 23

In [692]:
jan21 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/523e50e8b0d6b065ad2f0ab6ee724d396e0a1730/totals/by-age.csv?raw=True",index_col=0)
jan21 = standard(jan21)
jan21['date'] = '01-21-2021'
jan21['period'] = 23

In [693]:
jan22 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/9d5a9c2ef3a5d415bf3c9ff08589735a4a69c532/totals/by-age.csv?raw=True",index_col=0)
jan22 = standard(jan22)
jan22['date'] = '01-22-2021'
jan22['period'] = 23

In [694]:
jan23 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/998cd47977520dd51214fb84d3951675019afda5/totals/by-age.csv?raw=True",index_col=0)
jan23 = standard(jan23)
jan23['date'] = '01-23-2021'
jan23['period'] = 23

In [695]:
jan24 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/33971cec102a1577f6edec3e1da86d839503eab4/totals/by-age.csv?raw=True",index_col=0)
jan24 = standard(jan24)
jan24['date'] = '01-24-2021'
jan24['period'] = 23

In [696]:
jan25 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/0f367c0b8c2acdf6ec382a479692bb83d62bd8ad/totals/by-age.csv?raw=True",index_col=0)
jan25 = standard(jan25)
jan25['date'] = '01-25-2021'
jan25['period'] = 23

In [697]:
jan26 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/dd923404dbc2ac1a6b0cb6201e10f317dec470ab/totals/by-age.csv?raw=True",index_col=0)
jan26 = standard(jan26)
jan26['date'] = '01-26-2021'
jan26['period'] = 23

In [698]:
jan27 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/5c380a6555db737b5614c0d14ab8fe56a4882869/totals/by-age.csv?raw=True",index_col=0)
jan27 = standard(jan27)
jan27['date'] = '01-27-2021'
jan27['period'] = 23

In [699]:
jan28 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/dba3b10494b1ac51613f281c380df5f7cad4e6ed/totals/by-age.csv?raw=True",index_col=0)
jan28 = standard(jan28)
jan28['date'] = '01-28-2021'
jan28['period'] = 23

In [700]:
jan29 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/cc2eab51d62bd0b7d7e0cd4fcf8075030fa72ddf/totals/by-age.csv?raw=True",index_col=0)
jan29 = standard(jan29)
jan29['date'] = '01-29-2021'
jan29['period'] = 23

In [701]:
jan30 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/6a8fded9a7f9692968c6560cba74e8ac7406d19d/totals/by-age.csv?raw=True",index_col=0)
jan30 = standard(jan30)
jan30['date'] = '01-30-2021'
jan30['period'] = 23

In [702]:
jan31 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/08051faaeff68924b88cc2c59f37a4a40ea13ae1/totals/by-age.csv?raw=True",index_col=0)
jan31 = standard(jan31)
jan31['date'] = '01-31-2021'
jan31['period'] = 23

In [703]:
feb01 = pd.read_csv("https://github.com/nychealth/coronavirus-data/blob/869bce5467644bda82e85c9b84c51f13dae0cdc8/totals/by-age.csv?raw=True",index_col=0)
feb01 = standard(feb01)
feb01['date'] = '02-01-2021'
feb01['period'] = 23

In [704]:
new_york_hospital_stats = pd.concat([april23,april24,april25,april26,april27,april28,april29,april30,may01,may02,may03,may04,
                                    may05,may06,may07,may08,may09,may10,may11,may12,may13,may14,may15,may16,may17,may18,may19,
                                    may20,may21,may22,may23,may24,may25,may26,may27,may28,may29,may30,may31,june01,june02,june03,
                                    june04,june05,june06,june07,june08,june09,june10,june11,june12,june13,june14,june15,june16,
                                    june17,june18,june19,june20,june21,june22,june23,june24,june25,june26,june27,june28,june30,
                                    july01,july02,july03,july04,july05,july06,july07,july08,july09,july10,july11,july12,july13,
                                    july14,july15,july16,july17,july18,july19,july20,july21,july22,july23,july24,july25,july26,
                                    july27,july28,july29,july30,july31,august01,august02,august03,august04,august05,august06,
                                    august07,august08,august09,august10,august11,august12,august13,august14,august15,august16,
                                    august17,august18,august19,august20,august21,august22,august23,august24,august25,august26,
                                    august27,august28,august29,august30,august31,sept01,sept02,sept03,sept04,sept05,sept07,
                                    sept08,sept09,sept10,sept11,sept12,sept14,sept15,sept16,sept17,sept18,sept19,sept20,sept21,
                                    sept22,sept23,sept24,sept25,sept26,sept27,sept28,sept29,sept30,oct01,oct02,oct03,oct04,oct05,
                                    oct06,oct07,oct08,oct09,oct10,oct11,oct12,oct13,oct14,oct15,oct16,oct17,oct18,oct19,oct20,
                                    oct21,oct22,oct23,oct24,oct25,oct26,oct27,oct28,oct29,oct30,oct31,nov01,nov02,nov03,nov04,nov05,
                                    nov06,nov07,nov08,nov09,nov10,nov11,nov12,nov13,nov14,nov15,nov16,nov17,nov18,nov19,nov20,nov21,
                                    nov22,nov23,nov24,nov25,nov26,nov27,nov28,nov29,nov30,dec01,dec02,dec03,dec04,dec04,dec05,dec06,
                                    dec07,dec08,dec09,dec10,dec11,dec12,dec13,dec14,dec15,dec16,dec17,dec18,dec19,dec20,dec21,dec22,
                                    dec23,dec24,dec24,dec25,dec26,dec27,dec28,dec29,dec30,dec31,jan01,jan02,jan03,jan04,jan05,jan06,
                                    jan07,jan08,jan09,jan10,jan11,jan12,jan13,jan14,jan15,jan16,jan17,jan18,jan19,jan20,jan21,jan22,
                                    jan23,jan24,jan25,jan26,jan27,jan28,jan29,jan30,jan31,feb01])

new_york_hospital_stats

,CASE_RATE,HOSPITALIZED_RATE,DEATH_RATE,date,period,CASE_COUNT,HOSPITALIZED_COUNT,DEATH_COUNT
AGE_GROUP,,,,,,,,
0-17 years,171.46,13.55,0.23,04-23-2020,1,NaN,NaN,NaN
18-44 years,1554.45,153.69,12.88,04-23-2020,1,NaN,NaN,NaN
45-64 years,2529.03,630.34,113.37,04-23-2020,1,NaN,NaN,NaN
65-74 years,2552.64,1192.50,364.17,04-23-2020,1,NaN,NaN,NaN
75 and older years,2976.74,1830.07,909.18,04-23-2020,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
18-44,20207.72,1160.60,67.68,02-01-2021,23,224684.0,13326.0,794.0
45-64,15941.19,2540.10,476.51,02-01-2021,23,161559.0,25652.0,4800.0
65-74,7067.11,2418.35,756.82,02-01-2021,23,50798.0,17383.0,5440.0
75+,7477.43,3995.12,1989.81,02-01-2021,23,41994.0,22437.0,11175.0
Citywide,6302.86,958.30,266.66,02-01-2021,23,525458.0,79892.0,22231.0

In [705]:
new_york_hospital_stats.to_csv('NYC_COVID_GITHUB.csv', index=True)

In [706]:
ny_final = pd.concat([new_york,new_york_hospital_stats])
ny_final

,indicator,group,state,subgroup,phase,time_period,time_period_label,time_period_start_date,time_period_end_date,value,...,quartile_range,age,CASE_RATE,HOSPITALIZED_RATE,DEATH_RATE,date,period,CASE_COUNT,HOSPITALIZED_COUNT,DEATH_COUNT
0,Symptoms of Depressive Disorder,By State,New York,New York,1,1.0,Apr 23 - May 5,2020-04-23T00:00:00.000,2020-05-05T00:00:00.000,28.7,...,24.1 - 28.7,18 - 29 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Symptoms of Anxiety Disorder,By State,New York,New York,1,1.0,Apr 23 - May 5,2020-04-23T00:00:00.000,2020-05-05T00:00:00.000,36.1,...,31.7 - 37.0,18 - 29 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Symptoms of Anxiety Disorder or Depressive Dis...,By State,New York,New York,1,1.0,Apr 23 - May 5,2020-04-23T00:00:00.000,2020-05-05T00:00:00.000,41.4,...,36.8 - 41.4,18 - 29 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Symptoms of Depressive Disorder,By State,New York,New York,1,2.0,May 7 - May 12,2020-05-07T00:00:00.000,2020-05-12T00:00:00.000,29.2,...,25.7 - 35.5,18 - 29 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Symptoms of Anxiety Disorder,By State,New York,New York,1,2.0,May 7 - May 12,2020-05-07T00:00:00.000,2020-05-12T00:00:00.000,33,...,31.6 - 38.3,18 - 29 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18-44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,20207.72,1160.60,67.68,02-01-2021,23.0,224684.0,13326.0,794.0
45-64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,15941.19,2540.10,476.51,02-01-2021,23.0,161559.0,25652.0,4800.0
65-74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,7067.11,2418.35,756.82,02-01-2021,23.0,50798.0,17383.0,5440.0
75+,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,7477.43,3995.12,1989.81,02-01-2021,23.0,41994.0,22437.0,11175.0
Citywide,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,6302.86,958.30,266.66,02-01-2021,23.0,525458.0,79892.0,22231.0

In [1230]:
ny_final.to_csv('NYC_FINAL.csv', index=True)

In [712]:
#new_york
new_york_hospital_stats['CASE_COUNT'].fillna((new_york_hospital_stats['CASE_COUNT'].mean()), inplace=True)
new_york_hospital_stats['HOSPITALIZED_COUNT'].fillna((new_york_hospital_stats['HOSPITALIZED_COUNT'].mean()), inplace=True)
new_york_hospital_stats['DEATH_COUNT'].fillna((new_york_hospital_stats['DEATH_COUNT'].mean()), inplace=True)
temp = new_york_hospital_stats.groupby('period').mean()

In [713]:
new_york_hospital_stats

,CASE_RATE,HOSPITALIZED_RATE,DEATH_RATE,date,period,CASE_COUNT,HOSPITALIZED_COUNT,DEATH_COUNT
AGE_GROUP,,,,,,,,
0-17 years,171.46,13.55,0.23,04-23-2020,1,90629.21686,19942.175032,6754.809134
18-44 years,1554.45,153.69,12.88,04-23-2020,1,90629.21686,19942.175032,6754.809134
45-64 years,2529.03,630.34,113.37,04-23-2020,1,90629.21686,19942.175032,6754.809134
65-74 years,2552.64,1192.50,364.17,04-23-2020,1,90629.21686,19942.175032,6754.809134
75 and older years,2976.74,1830.07,909.18,04-23-2020,1,90629.21686,19942.175032,6754.809134
...,...,...,...,...,...,...,...,...
18-44,20207.72,1160.60,67.68,02-01-2021,23,224684.00000,13326.000000,794.000000
45-64,15941.19,2540.10,476.51,02-01-2021,23,161559.00000,25652.000000,4800.000000
65-74,7067.11,2418.35,756.82,02-01-2021,23,50798.00000,17383.000000,5440.000000
75+,7477.43,3995.12,1989.81,02-01-2021,23,41994.00000,22437.000000,11175.000000
Citywide,6302.86,958.30,266.66,02-01-2021,23,525458.00000,79892.000000,22231.000000

In [714]:
temp.reset_index(level=0, inplace=True)
temp = temp.rename(columns={'period': 'time_period'})
temp

,time_period,CASE_RATE,HOSPITALIZED_RATE,DEATH_RATE,CASE_COUNT,HOSPITALIZED_COUNT,DEATH_COUNT
0,1,2144.000897,794.878077,301.899744,90629.216860,19942.175032,6754.809134
1,2,2404.179762,884.877857,360.036905,90629.216860,19942.175032,6754.809134
2,3,2553.555000,965.356429,388.187857,82939.964424,19045.791690,6350.530334
3,4,2635.030000,985.732143,405.576905,64791.428571,17004.309524,5458.833333
4,5,2700.058333,1001.279762,415.573333,66455.142857,17289.738095,5591.761905
5,6,2748.899286,1017.878810,423.390952,67691.166667,17599.738095,5695.642857
6,7,2789.700238,1030.960000,430.532143,68669.190476,17831.928571,5790.166667
7,8,2823.529048,1045.095000,435.386667,69538.166667,18099.380952,5856.595238
8,9,2851.057222,1051.672500,442.854722,70282.083333,18217.388889,5956.722222
9,10,2879.245000,1060.274524,460.181429,71075.666667,18377.714286,6185.357143
10,11,2901.934286,1064.758571,463.177857,71776.714286,18470.095238,6222.357143
11,12,2926.734762,1069.078095,465.806429,72548.095238,18556.476190,6256.023810
12,13,3003.211138,1083.724268,470.308008,74896.670732,18848.723577,6318.825203
13,14,3079.854028,1096.361389,473.505972,77246.611111,19094.972222,6363.361111
14,15,3123.043929,1103.361190,475.038929,78616.571429,19227.880952,6384.261905
15,16,3188.525714,1113.008095,476.515357,80628.083333,19451.666667,6405.690476
16,17,3264.604487,1113.392949,478.250513,82915.294872,19441.948718,6428.269231
17,18,3485.029333,1144.666222,487.872022,85652.333333,19706.488889,6528.542324
18,19,5574.169167,1403.112024,619.644286,90380.535714,20005.261905,7614.515808
19,20,6062.263444,1442.809333,623.950800,98287.100000,20576.866667,7657.645967
20,21,6771.486071,1505.633571,631.069143,109672.428571,21469.440476,7727.063427
21,22,8262.820920,1638.814368,654.554966,133543.206897,23315.195402,7962.134856
22,23,10278.234048,1825.226667,695.063571,165599.226190,25876.464286,8367.325332

In [718]:
temp["time_period"] = temp['time_period'].astype(float)
new_york.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 483 entries, 0 to 68
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   indicator               483 non-null    object
 1   group                   483 non-null    object
 2   state                   483 non-null    object
 3   subgroup                483 non-null    object
 4   phase                   483 non-null    object
 5   time_period             483 non-null    float64
 6   time_period_label       483 non-null    object
 7   time_period_start_date  483 non-null    object
 8   time_period_end_date    483 non-null    object
 9   value                   483 non-null    object
 10  lowci                   483 non-null    object
 11  highci                  483 non-null    object
 12  confidence_interval     483 non-null    object
 13  quartile_range          483 non-null    object
 14  age                     483 non-null    object
dtypes: float64(1), object(14)
memory usage: 60.4+ KB

In [720]:
fin = pd.merge(new_york, temp,  on='time_period', how='left')
fin

,indicator,group,state,subgroup,phase,time_period,time_period_label,time_period_start_date,time_period_end_date,value,...,highci,confidence_interval,quartile_range,age,CASE_RATE,HOSPITALIZED_RATE,DEATH_RATE,CASE_COUNT,HOSPITALIZED_COUNT,DEATH_COUNT
0,Symptoms of Depressive Disorder,By State,New York,New York,1,1.0,Apr 23 - May 5,2020-04-23T00:00:00.000,2020-05-05T00:00:00.000,28.7,...,33.1,24.6 - 33.1,24.1 - 28.7,18 - 29 years,2144.000897,794.878077,301.899744,90629.216860,19942.175032,6754.809134
1,Symptoms of Anxiety Disorder,By State,New York,New York,1,1.0,Apr 23 - May 5,2020-04-23T00:00:00.000,2020-05-05T00:00:00.000,36.1,...,40.2,32.1 - 40.2,31.7 - 37.0,18 - 29 years,2144.000897,794.878077,301.899744,90629.216860,19942.175032,6754.809134
2,Symptoms of Anxiety Disorder or Depressive Dis...,By State,New York,New York,1,1.0,Apr 23 - May 5,2020-04-23T00:00:00.000,2020-05-05T00:00:00.000,41.4,...,46.1,36.7 - 46.1,36.8 - 41.4,18 - 29 years,2144.000897,794.878077,301.899744,90629.216860,19942.175032,6754.809134
3,Symptoms of Depressive Disorder,By State,New York,New York,1,2.0,May 7 - May 12,2020-05-07T00:00:00.000,2020-05-12T00:00:00.000,29.2,...,34.6,24.2 - 34.6,25.7 - 35.5,18 - 29 years,2404.179762,884.877857,360.036905,90629.216860,19942.175032,6754.809134
4,Symptoms of Anxiety Disorder,By State,New York,New York,1,2.0,May 7 - May 12,2020-05-07T00:00:00.000,2020-05-12T00:00:00.000,33,...,38.5,27.7 - 38.5,31.6 - 38.3,18 - 29 years,2404.179762,884.877857,360.036905,90629.216860,19942.175032,6754.809134
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
478,Symptoms of Anxiety Disorder,By State,New York,New York,3 (Jan 6 � Feb 1),22.0,Jan 6 - Jan 18,2021-01-06T00:00:00.000,2021-01-18T00:00:00.000,33.8,...,37.6,30.2 - 37.6,33.8-34.8,80 years and above,8262.820920,1638.814368,654.554966,133543.206897,23315.195402,7962.134856
479,Symptoms of Anxiety Disorder or Depressive Dis...,By State,New York,New York,3 (Jan 6 � Feb 1),22.0,Jan 6 - Jan 18,2021-01-06T00:00:00.000,2021-01-18T00:00:00.000,40.2,...,44.7,35.9 - 44.7,38.5-40.4,80 years and above,8262.820920,1638.814368,654.554966,133543.206897,23315.195402,7962.134856
480,Symptoms of Depressive Disorder,By State,New York,New York,3 (Jan 6 � Feb 1),23.0,Jan 20 - Feb 1,2021-01-20T00:00:00.000,2021-02-01T00:00:00.000,25.1,...,29,21.5 - 29.0,15.3-25.1,80 years and above,10278.234048,1825.226667,695.063571,165599.226190,25876.464286,8367.325332
481,Symptoms of Anxiety Disorder,By State,New York,New York,3 (Jan 6 � Feb 1),23.0,Jan 20 - Feb 1,2021-01-20T00:00:00.000,2021-02-01T00:00:00.000,32.3,...,36,28.7 - 36.0,23.8-32.3,80 years and above,10278.234048,1825.226667,695.063571,165599.226190,25876.464286,8367.325332
482,Symptoms of Anxiety Disorder or Depressive Dis...,By State,New York,New York,3 (Jan 6 � Feb 1),23.0,Jan 20 - Feb 1,2021-01-20T00:00:00.000,2021-02-01T00:00:00.000,35.8,...,39.7,32.0 - 39.7,28.8-37.6,80 years and above,10278.234048,1825.226667,695.063571,165599.226190,25876.464286,8367.325332

In [726]:
fin.to_csv('new_york_revised_2_14_2020.csv', index=False)
#temp.to_csv('temp.csv',index=False)

In [727]:
fin.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 483 entries, 0 to 482
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   indicator               483 non-null    object
 1   group                   483 non-null    object
 2   state                   483 non-null    object
 3   subgroup                483 non-null    object
 4   phase                   483 non-null    object
 5   time_period             483 non-null    float64
 6   time_period_label       483 non-null    object
 7   time_period_start_date  483 non-null    object
 8   time_period_end_date    483 non-null    object
 9   value                   483 non-null    object
 10  lowci                   483 non-null    object
 11  highci                  483 non-null    object
 12  confidence_interval     483 non-null    object
 13  quartile_range          483 non-null    object
 14  age                     483 non-null    object
 15  CASE_RATE               483 non-null    float64
 16  HOSPITALIZED_RATE       483 non-null    float64
 17  DEATH_RATE              483 non-null    float64
 18  CASE_COUNT              483 non-null    float64
 19  HOSPITALIZED_COUNT      483 non-null    float64
 20  DEATH_COUNT             483 non-null    float64
dtypes: float64(7), object(14)
memory usage: 83.0+ KB

In [728]:
temp

,time_period,CASE_RATE,HOSPITALIZED_RATE,DEATH_RATE,CASE_COUNT,HOSPITALIZED_COUNT,DEATH_COUNT
0,1.0,2144.000897,794.878077,301.899744,90629.216860,19942.175032,6754.809134
1,2.0,2404.179762,884.877857,360.036905,90629.216860,19942.175032,6754.809134
2,3.0,2553.555000,965.356429,388.187857,82939.964424,19045.791690,6350.530334
3,4.0,2635.030000,985.732143,405.576905,64791.428571,17004.309524,5458.833333
4,5.0,2700.058333,1001.279762,415.573333,66455.142857,17289.738095,5591.761905
5,6.0,2748.899286,1017.878810,423.390952,67691.166667,17599.738095,5695.642857
6,7.0,2789.700238,1030.960000,430.532143,68669.190476,17831.928571,5790.166667
7,8.0,2823.529048,1045.095000,435.386667,69538.166667,18099.380952,5856.595238
8,9.0,2851.057222,1051.672500,442.854722,70282.083333,18217.388889,5956.722222
9,10.0,2879.245000,1060.274524,460.181429,71075.666667,18377.714286,6185.357143
10,11.0,2901.934286,1064.758571,463.177857,71776.714286,18470.095238,6222.357143
11,12.0,2926.734762,1069.078095,465.806429,72548.095238,18556.476190,6256.023810
12,13.0,3003.211138,1083.724268,470.308008,74896.670732,18848.723577,6318.825203
13,14.0,3079.854028,1096.361389,473.505972,77246.611111,19094.972222,6363.361111
14,15.0,3123.043929,1103.361190,475.038929,78616.571429,19227.880952,6384.261905
15,16.0,3188.525714,1113.008095,476.515357,80628.083333,19451.666667,6405.690476
16,17.0,3264.604487,1113.392949,478.250513,82915.294872,19441.948718,6428.269231
17,18.0,3485.029333,1144.666222,487.872022,85652.333333,19706.488889,6528.542324
18,19.0,5574.169167,1403.112024,619.644286,90380.535714,20005.261905,7614.515808
19,20.0,6062.263444,1442.809333,623.950800,98287.100000,20576.866667,7657.645967
20,21.0,6771.486071,1505.633571,631.069143,109672.428571,21469.440476,7727.063427
21,22.0,8262.820920,1638.814368,654.554966,133543.206897,23315.195402,7962.134856
22,23.0,10278.234048,1825.226667,695.063571,165599.226190,25876.464286,8367.325332

In [729]:
new_york

,indicator,group,state,subgroup,phase,time_period,time_period_label,time_period_start_date,time_period_end_date,value,lowci,highci,confidence_interval,quartile_range,age
0,Symptoms of Depressive Disorder,By State,New York,New York,1,1.0,Apr 23 - May 5,2020-04-23T00:00:00.000,2020-05-05T00:00:00.000,28.7,24.6,33.1,24.6 - 33.1,24.1 - 28.7,18 - 29 years
1,Symptoms of Anxiety Disorder,By State,New York,New York,1,1.0,Apr 23 - May 5,2020-04-23T00:00:00.000,2020-05-05T00:00:00.000,36.1,32.1,40.2,32.1 - 40.2,31.7 - 37.0,18 - 29 years
2,Symptoms of Anxiety Disorder or Depressive Dis...,By State,New York,New York,1,1.0,Apr 23 - May 5,2020-04-23T00:00:00.000,2020-05-05T00:00:00.000,41.4,36.7,46.1,36.7 - 46.1,36.8 - 41.4,18 - 29 years
3,Symptoms of Depressive Disorder,By State,New York,New York,1,2.0,May 7 - May 12,2020-05-07T00:00:00.000,2020-05-12T00:00:00.000,29.2,24.2,34.6,24.2 - 34.6,25.7 - 35.5,18 - 29 years
4,Symptoms of Anxiety Disorder,By State,New York,New York,1,2.0,May 7 - May 12,2020-05-07T00:00:00.000,2020-05-12T00:00:00.000,33,27.7,38.5,27.7 - 38.5,31.6 - 38.3,18 - 29 years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,Symptoms of Anxiety Disorder,By State,New York,New York,3 (Jan 6 � Feb 1),22.0,Jan 6 - Jan 18,2021-01-06T00:00:00.000,2021-01-18T00:00:00.000,33.8,30.2,37.6,30.2 - 37.6,33.8-34.8,80 years and above
65,Symptoms of Anxiety Disorder or Depressive Dis...,By State,New York,New York,3 (Jan 6 � Feb 1),22.0,Jan 6 - Jan 18,2021-01-06T00:00:00.000,2021-01-18T00:00:00.000,40.2,35.9,44.7,35.9 - 44.7,38.5-40.4,80 years and above
66,Symptoms of Depressive Disorder,By State,New York,New York,3 (Jan 6 � Feb 1),23.0,Jan 20 - Feb 1,2021-01-20T00:00:00.000,2021-02-01T00:00:00.000,25.1,21.5,29,21.5 - 29.0,15.3-25.1,80 years and above
67,Symptoms of Anxiety Disorder,By State,New York,New York,3 (Jan 6 � Feb 1),23.0,Jan 20 - Feb 1,2021-01-20T00:00:00.000,2021-02-01T00:00:00.000,32.3,28.7,36,28.7 - 36.0,23.8-32.3,80 years and above
68,Symptoms of Anxiety Disorder or Depressive Dis...,By State,New York,New York,3 (Jan 6 � Feb 1),23.0,Jan 20 - Feb 1,2021-01-20T00:00:00.000,2021-02-01T00:00:00.000,35.8,32,39.7,32.0 - 39.7,28.8-37.6,80 years and above

In [731]:
fin

,indicator,group,state,subgroup,phase,time_period,time_period_label,time_period_start_date,time_period_end_date,value,...,highci,confidence_interval,quartile_range,age,CASE_RATE,HOSPITALIZED_RATE,DEATH_RATE,CASE_COUNT,HOSPITALIZED_COUNT,DEATH_COUNT
0,Symptoms of Depressive Disorder,By State,New York,New York,1,1.0,Apr 23 - May 5,2020-04-23T00:00:00.000,2020-05-05T00:00:00.000,28.7,...,33.1,24.6 - 33.1,24.1 - 28.7,18 - 29 years,2144.000897,794.878077,301.899744,90629.216860,19942.175032,6754.809134
1,Symptoms of Anxiety Disorder,By State,New York,New York,1,1.0,Apr 23 - May 5,2020-04-23T00:00:00.000,2020-05-05T00:00:00.000,36.1,...,40.2,32.1 - 40.2,31.7 - 37.0,18 - 29 years,2144.000897,794.878077,301.899744,90629.216860,19942.175032,6754.809134
2,Symptoms of Anxiety Disorder or Depressive Dis...,By State,New York,New York,1,1.0,Apr 23 - May 5,2020-04-23T00:00:00.000,2020-05-05T00:00:00.000,41.4,...,46.1,36.7 - 46.1,36.8 - 41.4,18 - 29 years,2144.000897,794.878077,301.899744,90629.216860,19942.175032,6754.809134
3,Symptoms of Depressive Disorder,By State,New York,New York,1,2.0,May 7 - May 12,2020-05-07T00:00:00.000,2020-05-12T00:00:00.000,29.2,...,34.6,24.2 - 34.6,25.7 - 35.5,18 - 29 years,2404.179762,884.877857,360.036905,90629.216860,19942.175032,6754.809134
4,Symptoms of Anxiety Disorder,By State,New York,New York,1,2.0,May 7 - May 12,2020-05-07T00:00:00.000,2020-05-12T00:00:00.000,33,...,38.5,27.7 - 38.5,31.6 - 38.3,18 - 29 years,2404.179762,884.877857,360.036905,90629.216860,19942.175032,6754.809134
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
478,Symptoms of Anxiety Disorder,By State,New York,New York,3 (Jan 6 � Feb 1),22.0,Jan 6 - Jan 18,2021-01-06T00:00:00.000,2021-01-18T00:00:00.000,33.8,...,37.6,30.2 - 37.6,33.8-34.8,80 years and above,8262.820920,1638.814368,654.554966,133543.206897,23315.195402,7962.134856
479,Symptoms of Anxiety Disorder or Depressive Dis...,By State,New York,New York,3 (Jan 6 � Feb 1),22.0,Jan 6 - Jan 18,2021-01-06T00:00:00.000,2021-01-18T00:00:00.000,40.2,...,44.7,35.9 - 44.7,38.5-40.4,80 years and above,8262.820920,1638.814368,654.554966,133543.206897,23315.195402,7962.134856
480,Symptoms of Depressive Disorder,By State,New York,New York,3 (Jan 6 � Feb 1),23.0,Jan 20 - Feb 1,2021-01-20T00:00:00.000,2021-02-01T00:00:00.000,25.1,...,29,21.5 - 29.0,15.3-25.1,80 years and above,10278.234048,1825.226667,695.063571,165599.226190,25876.464286,8367.325332
481,Symptoms of Anxiety Disorder,By State,New York,New York,3 (Jan 6 � Feb 1),23.0,Jan 20 - Feb 1,2021-01-20T00:00:00.000,2021-02-01T00:00:00.000,32.3,...,36,28.7 - 36.0,23.8-32.3,80 years and above,10278.234048,1825.226667,695.063571,165599.226190,25876.464286,8367.325332
482,Symptoms of Anxiety Disorder or Depressive Dis...,By State,New York,New York,3 (Jan 6 � Feb 1),23.0,Jan 20 - Feb 1,2021-01-20T00:00:00.000,2021-02-01T00:00:00.000,35.8,...,39.7,32.0 - 39.7,28.8-37.6,80 years and above,10278.234048,1825.226667,695.063571,165599.226190,25876.464286,8367.325332

In [733]:
temp2 = new_york_hospital_stats
temp2

,CASE_RATE,HOSPITALIZED_RATE,DEATH_RATE,date,period,CASE_COUNT,HOSPITALIZED_COUNT,DEATH_COUNT
AGE_GROUP,,,,,,,,
0-17 years,171.46,13.55,0.23,04-23-2020,1,90629.21686,19942.175032,6754.809134
18-44 years,1554.45,153.69,12.88,04-23-2020,1,90629.21686,19942.175032,6754.809134
45-64 years,2529.03,630.34,113.37,04-23-2020,1,90629.21686,19942.175032,6754.809134
65-74 years,2552.64,1192.50,364.17,04-23-2020,1,90629.21686,19942.175032,6754.809134
75 and older years,2976.74,1830.07,909.18,04-23-2020,1,90629.21686,19942.175032,6754.809134
...,...,...,...,...,...,...,...,...
18-44,20207.72,1160.60,67.68,02-01-2021,23,224684.00000,13326.000000,794.000000
45-64,15941.19,2540.10,476.51,02-01-2021,23,161559.00000,25652.000000,4800.000000
65-74,7067.11,2418.35,756.82,02-01-2021,23,50798.00000,17383.000000,5440.000000
75+,7477.43,3995.12,1989.81,02-01-2021,23,41994.00000,22437.000000,11175.000000
Citywide,6302.86,958.30,266.66,02-01-2021,23,525458.00000,79892.000000,22231.000000

In [734]:
temp2.reset_index(level=0, inplace=True)
temp2 = temp2.rename(columns={'period': 'time_period'})
temp2

,AGE_GROUP,CASE_RATE,HOSPITALIZED_RATE,DEATH_RATE,date,time_period,CASE_COUNT,HOSPITALIZED_COUNT,DEATH_COUNT
0,0-17 years,171.46,13.55,0.23,04-23-2020,1,90629.21686,19942.175032,6754.809134
1,18-44 years,1554.45,153.69,12.88,04-23-2020,1,90629.21686,19942.175032,6754.809134
2,45-64 years,2529.03,630.34,113.37,04-23-2020,1,90629.21686,19942.175032,6754.809134
3,65-74 years,2552.64,1192.50,364.17,04-23-2020,1,90629.21686,19942.175032,6754.809134
4,75 and older years,2976.74,1830.07,909.18,04-23-2020,1,90629.21686,19942.175032,6754.809134
...,...,...,...,...,...,...,...,...,...
1699,18-44,20207.72,1160.60,67.68,02-01-2021,23,224684.00000,13326.000000,794.000000
1700,45-64,15941.19,2540.10,476.51,02-01-2021,23,161559.00000,25652.000000,4800.000000
1701,65-74,7067.11,2418.35,756.82,02-01-2021,23,50798.00000,17383.000000,5440.000000
1702,75+,7477.43,3995.12,1989.81,02-01-2021,23,41994.00000,22437.000000,11175.000000
1703,Citywide,6302.86,958.30,266.66,02-01-2021,23,525458.00000,79892.000000,22231.000000

In [735]:
fin2 = pd.merge(new_york, temp2,  on='time_period', how='left')
fin2

,indicator,group,state,subgroup,phase,time_period,time_period_label,time_period_start_date,time_period_end_date,value,...,quartile_range,age,AGE_GROUP,CASE_RATE,HOSPITALIZED_RATE,DEATH_RATE,date,CASE_COUNT,HOSPITALIZED_COUNT,DEATH_COUNT
0,Symptoms of Depressive Disorder,By State,New York,New York,1,1.0,Apr 23 - May 5,2020-04-23T00:00:00.000,2020-05-05T00:00:00.000,28.7,...,24.1 - 28.7,18 - 29 years,0-17 years,171.46,13.55,0.23,04-23-2020,90629.21686,19942.175032,6754.809134
1,Symptoms of Depressive Disorder,By State,New York,New York,1,1.0,Apr 23 - May 5,2020-04-23T00:00:00.000,2020-05-05T00:00:00.000,28.7,...,24.1 - 28.7,18 - 29 years,18-44 years,1554.45,153.69,12.88,04-23-2020,90629.21686,19942.175032,6754.809134
2,Symptoms of Depressive Disorder,By State,New York,New York,1,1.0,Apr 23 - May 5,2020-04-23T00:00:00.000,2020-05-05T00:00:00.000,28.7,...,24.1 - 28.7,18 - 29 years,45-64 years,2529.03,630.34,113.37,04-23-2020,90629.21686,19942.175032,6754.809134
3,Symptoms of Depressive Disorder,By State,New York,New York,1,1.0,Apr 23 - May 5,2020-04-23T00:00:00.000,2020-05-05T00:00:00.000,28.7,...,24.1 - 28.7,18 - 29 years,65-74 years,2552.64,1192.50,364.17,04-23-2020,90629.21686,19942.175032,6754.809134
4,Symptoms of Depressive Disorder,By State,New York,New York,1,1.0,Apr 23 - May 5,2020-04-23T00:00:00.000,2020-05-05T00:00:00.000,28.7,...,24.1 - 28.7,18 - 29 years,75 and older years,2976.74,1830.07,909.18,04-23-2020,90629.21686,19942.175032,6754.809134
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35779,Symptoms of Anxiety Disorder or Depressive Dis...,By State,New York,New York,3 (Jan 6 � Feb 1),23.0,Jan 20 - Feb 1,2021-01-20T00:00:00.000,2021-02-01T00:00:00.000,35.8,...,28.8-37.6,80 years and above,18-44,20207.72,1160.60,67.68,02-01-2021,224684.00000,13326.000000,794.000000
35780,Symptoms of Anxiety Disorder or Depressive Dis...,By State,New York,New York,3 (Jan 6 � Feb 1),23.0,Jan 20 - Feb 1,2021-01-20T00:00:00.000,2021-02-01T00:00:00.000,35.8,...,28.8-37.6,80 years and above,45-64,15941.19,2540.10,476.51,02-01-2021,161559.00000,25652.000000,4800.000000
35781,Symptoms of Anxiety Disorder or Depressive Dis...,By State,New York,New York,3 (Jan 6 � Feb 1),23.0,Jan 20 - Feb 1,2021-01-20T00:00:00.000,2021-02-01T00:00:00.000,35.8,...,28.8-37.6,80 years and above,65-74,7067.11,2418.35,756.82,02-01-2021,50798.00000,17383.000000,5440.000000
35782,Symptoms of Anxiety Disorder or Depressive Dis...,By State,New York,New York,3 (Jan 6 � Feb 1),23.0,Jan 20 - Feb 1,2021-01-20T00:00:00.000,2021-02-01T00:00:00.000,35.8,...,28.8-37.6,80 years and above,75+,7477.43,3995.12,1989.81,02-01-2021,41994.00000,22437.000000,11175.000000
35783,Symptoms of Anxiety Disorder or Depressive Dis...,By State,New York,New York,3 (Jan 6 � Feb 1),23.0,Jan 20 - Feb 1,2021-01-20T00:00:00.000,2021-02-01T00:00:00.000,35.8,...,28.8-37.6,80 years and above,Citywide,6302.86,958.30,266.66,02-01-2021,525458.00000,79892.000000,22231.000000

In [736]:
del fin2['AGE_GROUP']

In [737]:
fin2

,indicator,group,state,subgroup,phase,time_period,time_period_label,time_period_start_date,time_period_end_date,value,...,confidence_interval,quartile_range,age,CASE_RATE,HOSPITALIZED_RATE,DEATH_RATE,date,CASE_COUNT,HOSPITALIZED_COUNT,DEATH_COUNT
0,Symptoms of Depressive Disorder,By State,New York,New York,1,1.0,Apr 23 - May 5,2020-04-23T00:00:00.000,2020-05-05T00:00:00.000,28.7,...,24.6 - 33.1,24.1 - 28.7,18 - 29 years,171.46,13.55,0.23,04-23-2020,90629.21686,19942.175032,6754.809134
1,Symptoms of Depressive Disorder,By State,New York,New York,1,1.0,Apr 23 - May 5,2020-04-23T00:00:00.000,2020-05-05T00:00:00.000,28.7,...,24.6 - 33.1,24.1 - 28.7,18 - 29 years,1554.45,153.69,12.88,04-23-2020,90629.21686,19942.175032,6754.809134
2,Symptoms of Depressive Disorder,By State,New York,New York,1,1.0,Apr 23 - May 5,2020-04-23T00:00:00.000,2020-05-05T00:00:00.000,28.7,...,24.6 - 33.1,24.1 - 28.7,18 - 29 years,2529.03,630.34,113.37,04-23-2020,90629.21686,19942.175032,6754.809134
3,Symptoms of Depressive Disorder,By State,New York,New York,1,1.0,Apr 23 - May 5,2020-04-23T00:00:00.000,2020-05-05T00:00:00.000,28.7,...,24.6 - 33.1,24.1 - 28.7,18 - 29 years,2552.64,1192.50,364.17,04-23-2020,90629.21686,19942.175032,6754.809134
4,Symptoms of Depressive Disorder,By State,New York,New York,1,1.0,Apr 23 - May 5,2020-04-23T00:00:00.000,2020-05-05T00:00:00.000,28.7,...,24.6 - 33.1,24.1 - 28.7,18 - 29 years,2976.74,1830.07,909.18,04-23-2020,90629.21686,19942.175032,6754.809134
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35779,Symptoms of Anxiety Disorder or Depressive Dis...,By State,New York,New York,3 (Jan 6 � Feb 1),23.0,Jan 20 - Feb 1,2021-01-20T00:00:00.000,2021-02-01T00:00:00.000,35.8,...,32.0 - 39.7,28.8-37.6,80 years and above,20207.72,1160.60,67.68,02-01-2021,224684.00000,13326.000000,794.000000
35780,Symptoms of Anxiety Disorder or Depressive Dis...,By State,New York,New York,3 (Jan 6 � Feb 1),23.0,Jan 20 - Feb 1,2021-01-20T00:00:00.000,2021-02-01T00:00:00.000,35.8,...,32.0 - 39.7,28.8-37.6,80 years and above,15941.19,2540.10,476.51,02-01-2021,161559.00000,25652.000000,4800.000000
35781,Symptoms of Anxiety Disorder or Depressive Dis...,By State,New York,New York,3 (Jan 6 � Feb 1),23.0,Jan 20 - Feb 1,2021-01-20T00:00:00.000,2021-02-01T00:00:00.000,35.8,...,32.0 - 39.7,28.8-37.6,80 years and above,7067.11,2418.35,756.82,02-01-2021,50798.00000,17383.000000,5440.000000
35782,Symptoms of Anxiety Disorder or Depressive Dis...,By State,New York,New York,3 (Jan 6 � Feb 1),23.0,Jan 20 - Feb 1,2021-01-20T00:00:00.000,2021-02-01T00:00:00.000,35.8,...,32.0 - 39.7,28.8-37.6,80 years and above,7477.43,3995.12,1989.81,02-01-2021,41994.00000,22437.000000,11175.000000
35783,Symptoms of Anxiety Disorder or Depressive Dis...,By State,New York,New York,3 (Jan 6 � Feb 1),23.0,Jan 20 - Feb 1,2021-01-20T00:00:00.000,2021-02-01T00:00:00.000,35.8,...,32.0 - 39.7,28.8-37.6,80 years and above,6302.86,958.30,266.66,02-01-2021,525458.00000,79892.000000,22231.000000

In [738]:
fin2.to_csv('new_york_revised_2_14_2020.csv', index=False)